  <div class="tabs">
    <table bgcolor="#DCDCDC" width="100%">

        <tr bgcolor="#DCDCDC" >
            <th width="1%">Nº</th>
            <th width="10%">Data/Hora</th>
            <th width="30%">Nome</th>
            <th width="8%">Nasc/o</th>
             <th width="20%">Mãe</th>
            <th width="12%">Classe</th>
            <th width="10%">Região</th>
            <th width="5%">Status</th>
            

        </tr>
  
           <%$t=0%>
           <% @criancas.each do |crianca| %>
           <%$t = $t+1%>
        <tr bgcolor="#F5F5F5" style="font-size:12px">
                <td align="center"><%=h crianca.id%></td>
               <%  if crianca.created_at.nil? %>
                     <td align="center"></td>
                <%else%>
                     <td align="center"><%=h crianca.created_at.strftime("%d/%m/%Y")%><br/></td>
                <%end%>
                <td align="left"><%=h crianca.nome%></td>
                <td align="center"><%=h crianca.nascimento.strftime("%d/%m/%Y")%></td>
                <td align="left"><%=h crianca.mae%></td>
                <td align="center"><%=h crianca.grupo.nome%></td>
                <td align="left"><%if !crianca.regiao_id.nil?%>
                                      <%=h crianca.regiao.nome%>
                                 <%end%>
                </td>
            
                <td align="left"><%=h crianca.status%></td>
          </tr>
          <% @criancasinscritas= Crianca.find(:all, :select => 'id', :conditions => ['id =? and (unidade_ref = ?)', crianca, current_user.unidade.nome])%>
          <tr>
            <td align="left" colspan="7"><%= link_to image_tag("/stylesheets/images/visualizar.png"), {:action => "show", :id =>crianca},:target => '_blank', :title => "Visualizar" %>
                <!--<%#if  @criancasinscritas.present? or (current_user.has_role?('admin') or current_user.has_role?('SEDUC')or current_user.has_role?('supervisao')) %>-->
                <%if  (current_user.has_role?('admin') or current_user.has_role?('SEDUC')) %>
                    <%= link_to image_tag("/stylesheets/images/editar1.png"),  {:action => "edit", :id =>crianca}, :target => '_blank', :title => "Editar" %>
                <%end%>
            </td>

          </tr>

            <% end %>



     </table>
    <table bgcolor="#DCDCDC" width="100%" >
      <tr >
        <td align="right"><font color ="red "size="2"><b>TOTAL INSCRIÇÕES: <%= @demandas.count + @matriculadas.count + @canceladas.count%> </b></font> </td>
        <td align="right"> <font color ="red "size="2"><b> NA DEMANDA: <%= @demandas.count%></b></font></td>
        <td align="right"> <font color ="red "size="2"><b> MATRICULDAS: <%= @matriculadas.count%></b></font></td>
        <td align="right"> <font color ="red "size="2"><b> CANCELADAS: <%= @canceladas.count%></b></font></td>



      </tr>
    </table>

  </div>

