  <div class="tabs">
    <table bgcolor="#DCDCDC" width="100%">

      <tr bgcolor="#DCDCDC"  >
            <th width="2%"><b>Inscrição</b></th>
            <th width="20%"><b>Nome</b></th>
            <th width="10%"><b>Mãe</b></th>
            <th width="10%"><b>Local de <br/>Inscrição</b></th>
            <th width="10%"><b>Classe</b></th>
            <th width="8%"><b>Período</b></th>
            <th width="8%"<b>1ªOpção</b></th>
            <th width="8%"><b>2ªOpção</b></th>
            <th width="8%"><b>3ªOpção</b></th>
            <td align="center" ><b>Status</b></td>
        </tr>
  
           <%$t=0%>
           <% @criancas.each do |crianca| %>
           <%$t = $t+1%>
        <tr bgcolor="#F5F5F5" style="font-size:12px">
                <td align="center"><%=h crianca.id%></td>
                <td align="left"><%=h crianca.nome%></td>
                <td align="left"><%=h crianca.mae%></td>
                <td align="left"><%=h crianca.unidade.nome%></td>
                <td align="center"><%=h crianca.grupo.nome%></td>
                <td align="left"><%=h crianca.periodo%></td>
                 <td align="left"><%=h crianca.opcao1%></td>
                <td align="left"><%=h crianca.opcao2%></td>
                <td align="left"><%=h crianca.opcao3%></td>
                <td align="left"><%=h crianca.status%></td>
          </tr>
          <tr>
            <td align="left" colspan="7"><%= link_to image_tag("/stylesheets/images/visualizar.png"), {:action => "show", :id =>crianca},:target => '_blank', :title => "Visualizar" %>
                <%if crianca.unidade_id == current_user.unidade_id or current_user.unidade_id == 52%>
                    <%= link_to image_tag("/stylesheets/images/editar1.png"),  {:action => "edit", :id =>crianca}, :target => '_blank', :title => "Editar" %>
                <%end%>
            </td>

          </tr>

            <% end %>



     </table>
    <table bgcolor="#DCDCDC" width="100%" >
      <tr >
        <td align="right"><font color ="red "size="2"><b>TOTAL INSCRIÇÕES: <%= @demandas.count + @matriculadas.count + @canceladas.count%> </b></font> </td>
        <td align="right"> <font color ="red "size="2"><b> NA DEMANDA: <%= @demandas.count%></b></font></td>
        <td align="right"> <font color ="red "size="2"><b> MATRICULDAS: <%= @matriculadas.count%></b></font></td>
        <td align="right"> <font color ="red "size="2"><b> CANCELADAS: <%= @canceladas.count%></b></font></td>



      </tr>
    </table>

  </div>

