  <div class="tabs">
    <table bgcolor="#DCDCDC" width="100%">
<%b1=0%>
<%b2=0%>
<%m1a=0%>
<%m1b=0%>
<%m2=0%>
<%n1=0%>
<%n2=0%>


        <tr bgcolor="#DCDCDC" >
            <th width="1%">Nº</th>
            <th width="10%">Data/Hora</th>
            <th width="30%">Nome</th>
            <th width="8%">Nasc/o</th>
             <th width="20%">Mãe</th>
            <th width="12%">Classe</th>
            <th width="10%">Região</th>
            <th width="5%">Status</th>
            

        </tr>
  
           <%tot=0%>
           <% @criancas.each do |crianca| %>
           <%tot = tot+1%>
        <tr bgcolor="#F5F5F5" style="font-size:12px">
                <td align="center"><%=h crianca.id%></td>
               <%  if crianca.created_at.nil? %>
                     <td align="center"></td>
                <%else%>
                     <td align="center"><%=h crianca.created_at.strftime("%d/%m/%Y")%><br/></td>
                <%end%>
                <td align="left"><%=h crianca.nome%></td>
                <td align="center"><%=h crianca.nascimento.strftime("%d/%m/%Y")%></td>
                <td align="left"><%=h crianca.mae%></td>
                <td align="center"><%=h crianca.grupo.nome%></td>
                <td align="left"><%if !crianca.regiao_id.nil?%>
                                      <%=h crianca.regiao.nome%>
                                 <%end%>
                </td>
            
                <td align="left"><%=h crianca.status%>
                                 <%if crianca.transferencia == true%>
                                       
                                 <%end%>

                </td>
                <% if crianca.grupo_id==1 %>
                   <% b1=b1+1 %>
                <%else if crianca.grupo_id==2 %>
                         <% b2=b2+1 %>
                    <%else if crianca.grupo_id==4 %>
                             <% m1a=m1a+1 %>
                         <%else if crianca.grupo_id==8 %>
                                  <% m1b=m1b+1 %>
                             <%else if crianca.grupo_id==5 %>
                                      <% m2=m2+1 %>
                                  <%else if crianca.grupo_id==6 %>
                                         <% n1=n1+1 %>
                                     <%else if crianca.grupo_id==7 %>
                                         <% n2=n2+1 %>
                                     <%end%>
                                 <%end%>
                             <%end%>
                          <%end%>
                      <%end%>
                   <%end%>
                <%end%>
          </tr>
          <% @criancasinscritas= Crianca.find(:all, :select => 'id', :conditions => ['id =? and (unidade_ref = ?)', crianca, current_user.unidade.nome])%>
          <tr>
            <td align="left" colspan="7"><%= link_to image_tag("/stylesheets/images/visualizar.png"), {:action => "show", :id =>crianca},:target => '_blank', :title => "Visualizar" %>
                <!--<%#if  @criancasinscritas.present? or (current_user.has_role?('admin') or current_user.has_role?('SEDUC')or current_user.has_role?('supervisao')) %>-->
                <%if  (current_user.has_role?('admin') or current_user.has_role?('SEDUC')) %>
                    <%= link_to image_tag("/stylesheets/images/editar1.png"),  {:action => "edit", :id =>crianca}, :target => '_blank', :title => "Editar" %>
                <%end%>
            </td>

          </tr>

            <% end %>



     </table>
    <table bgcolor="#DCDCDC" width="100%" >
      <tr >
        <td align="right"> <b> BERÇÁRIO I: <%= b1%> </b></td>
        <td align="right"> <b> BERÇÁRIO II: <%= b2%> </b></td>
        <td align="right"> <b> MATERNAL I-A: <%= m1a%> </b></td>
        <td align="right"> <b> MATERNAL I-B: <%= m1b%> </b></td>
        <td align="right"> <b> MATERNAL II: <%= m2%> </b></td>
        <td align="right"> <b> NÍVEL I: <%= n1%> </b></td>
        <td align="right"> <b> NÍVEL 2: <%= n2%> </b></td>
     </tr>
     <tr>
         <td colspan="10"align="right"><font color ="blue "size="2"><b>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp TOTAL TRANSFERÊNCIAS: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= tot%>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp </b></font> </td>
     </tr>
    </table>

  </div>

