  <div class="tabs">
       <table bgcolor="#DCDCDC" width="100%">
        <tr bgcolor="#DCDCDC" >

            <th width="1%">Nº_Ins- <br/>crição</th>
            <th width="10%">Data/Hora <br/>Inscrição</th>
            <th width="20%">Nome</th>
            <th width="8%">Classe</th>
            <th width="8%">Período</th>
            <th width="8%">1ªOpção</th>
            <th width="8%">2ªOpção</th>
            <th width="8%">3ªOpção</th>
            <th width="10%">Status</th>
        </tr>
           <%$t=0%>
           <% @criancas.each do |crianca| %>
           <%$t = $t+1%>
        <tr bgcolor="#F5F5F5" style="font-size:12px">

                <td align="center"><%=h crianca.id%></td>
                                   
                <%  if crianca.created_at.nil?%>
                    <td align="center"></td>
                <%else%>
                     <td align="center"><%=h crianca.created_at.strftime("%d/%m/%Y %M:%M")%><br/></td>
                <%end%>
                <td align="left"><%=h crianca.nome%></td>
                <td align="center"><%=h crianca.grupo.nome%></td>

                <td align="center"><%=h crianca.periodo%></td>
                <td align="center"><% if  crianca.opcao1 == session[:opcaos]%>
                                          <b><font color ="blue"><%=h crianca.opcao1%></font></b>
                                    <%else%>
                                          <%=h crianca.opcao1%>
                                    <%end%>
                </td>
                <td align="center"><% if  crianca.opcao2 == session[:opcaos]%>
                                          <b><font color ="blue"><%=h crianca.opcao2%></font></b>
                                    <%else%>
                                          <%=h crianca.opcao2%>
                                    <%end%>
                </td>
                <td align="center"><% if  crianca.opcao3 == session[:opcaos]%>
                                          <b><font color ="blue"><%=h crianca.opcao3%></font></b>
                                    <%else%>
                                          <%=h crianca.opcao3%>
                                    <%end%>
                </td>
                <td align="left"><%=h crianca.status%></td>
                <td align="left" ><%= link_to image_tag("/stylesheets/images/status.png"), {:action => "alteracao_status", :id =>crianca.id}, :target => '_blank', :title => "Status" %></td>

              </tr>

            <% end %>
     </table>

     <table bgcolor="#DCDCDC" width="100%">
      <tr >
        <td colspan="3" align="right"><b>TOTAL INSCRIÇÕES: </b>
            <font color ="red "size="2"><b><%=$t %></b></font>
          </td>
      </tr>
    </table>

    <tr>

    </tr>
  </div>

