
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      <img src="/stylesheets/images/logo.png"   alt=""  class="float-left"  />
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
       <font size="2"><i><b><u>RECADASTRAMENTO DEMANDA ESCOLAR</u></b><br/>
&nbsp&nbsp&nbsp
     <font size="1"><i><b>Prefeitua Municipal de  Americana </b></i>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp
<font size="1"><b><u></u>       </b></i><br/>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      <font size="1"><b><i> Secretaria da Educação</i></b>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

<%for crianca in @crianca%>
<font size="2"><font size="1">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <strong>Inscrição nº<%=h crianca.id %> </strong></font><br/>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<font size="1">Data Inscrição: <%=  crianca.created_at.strftime("%e/%m/%Y - %H:%M horas")%> </font><br/>
 <table  class ="invisible_to_print " >
   <tr  class ="invisible_to_print ">
     <td align="right" class ="invisible_to_print "><%= button_to "Imprimir", onclick="javascript:window.print()", :title => "Imprimir" %></td>
  </tr>
 </table>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp<font size="1"><strong>Inscrição nº<%=h crianca.id %> </strong></font>
  <fieldset><legend><font  size=1><b> Dados da Criança</b></font></legend>
       <table width="100%" frame="box" rules="all" >
            <tr style="font-size:8px">
               <th align="left" width="7%"><b>Nome:</b></th>
               <th  align="left"width="40%"><%=h crianca.nome %></th>
               <th align="left"width="4%"><b>Nascimento:</b></th>
               <th align="left" colspan="6">  <%=h crianca.nascimento.strftime("%d/%m/%Y")%></th>
            </tr>
            <tr style="font-size:8px">
               <th align="left" width="7%"><b>Especial:</b></th>
                   <%if crianca.n_especial == false%>
                        <th  align="left"width="40%">NÃO </th>
                    <%else%>
                         <th  align="left"width="40%">SIM</th>
                   <%end%>
               <th align="left" width="7%"><b>Necessidade:</b></th>
                   <%if crianca.necessidade.empty? %>
                        <th  align="left"width="40%"> ---- xxx ---- </th>
                    <%else%>
                        <th  align="left"width="40%">  <%=h crianca.necessidade%>xxx</th>
                   <%end%>
            </tr>



            <tr style="font-size:8px">
               <th align="left"><b>Mãe:</b></th>
               <th align="left"><%=h crianca.mae %></th>
               <th align="left" width="4%"><b>Pai:</b></th>
               <th colspan="6" align="left"><%=h crianca.pai %></th>
            </tr>
            <tr style="font-size:8px">
               <th align="left"><b>Responsável:</b></th>
               <th align="left"><%=h crianca.responsavel_n %></th>
               <th align="left" width="4%"><b>Parentesco</b></th>
               <th colspan="6" align="left"><%=h crianca.parentesco %></th>
            </tr>
            <tr style="font-size:8px">
               <th align="left"><b>Endereço:</b></th>
               <th align="left"><%=h crianca.endereco %> - <%=h crianca.numero %></th>
               <th align="left" width="4%"><b>Bairro:</b></th>
               <th colspan="6" align="left"><%=h crianca.bairro%></th>
            </tr>
            <tr style="font-size:8px">
               <th align="left"><b>Complemento:</b></th>
               <th align="left"><%=h crianca.complemento%></th>
               <th align="left"><b>Telefone:</b></th>
               <th align="left">  <%=h crianca.tel1%></th>
               <th align="left"  width="4%"><b>Celular:</b></th>
               <th><%=h crianca.celular%>  </th>
            </tr>

            <tr style="font-size:8px">
               <th align="left"><b>Endereço(trab):</b></th>
               <th align="left"><%=h crianca.end_trab %> - <%=h crianca.num_trab %></th>
               <th align="left"><b>Bairro:</b></th>
               <th align="left"><%=h crianca.bairro_trab %></th>
            </tr>
            <tr style="font-size:8px">
               <th align="left"><b>Fone(recado):</b></th>
               <th align="left">  <%=h crianca.tel2%></th>
               <th><b>Nome(recado):</b></th>
               <th colspan="6"><%=h crianca.nomerecado%>  </th>
            </tr>
            <tr style="font-size:8px">
               <th align="left"><b>Classificação</b></th>
               <th align="left"><%=h crianca.grupo.nome %> </th>
               <th colspan="2"align="left" width="4%"><b>Necessidade Especial: </b>
                <% if crianca.servidor_publico == false %>
                      NÃO
                  <%else%>
                      SIM
                  <%end%>
               </th>
               <th><b>Necessidade:</b></th>
               <th><%=h crianca.necessidade%></th>
            </tr>
          </table>
         </fieldset>
         <fieldset><legend><font  size=1><b> Dados da Inscrição</b></font></legend>
         <table width="100%" width="100%" frame="box" rules="all" >
            <tr style="font-size:8px">
               <th align="left"><b>Endereço Indicado:</b></th>
               <th align="left"><%=h crianca.end_indicacao %> - <%=h crianca.num_indicacao %></th>
               <th align="left"><b>Bairro/Região:</b></th>
               <th align="left"><%=h crianca.regiao.nome %></th>
            </tr>
           <tr style="font-size:8px">
              <th align="left" width="12%"><b>Local Inscrição:</b></th>
              <th width="20%" align="left" ><%= crianca.unidade.nome%></th>
              <th width="15%" align="left"><b>Data  e Hora:</b> </th>
              <th align="left"><%=  crianca.created_at.strftime("%e/%m/%Y - %H:%M horas")%></th>
           </tr>
           <tr style="font-size:8px">
             <th align="left"> <b>Filho Servidora Pública:</b></th>
                 <% if crianca.servidor_publico == false %>
                    <th align="left"> NÃO </th>
                  <%else%>
                     <th align="left"> SIM - Local: <%=h crianca.servidor_local%></th>
                  <%end%>
            <th align="left"><b>Mãe trabalha: </b></th>
                  <% if crianca.trabalho == false %>
                     <th align="left">NÃO</th>
                  <%else%>
                     <th align="left">SIM - Local: <%=h crianca.local_trabalho%> (<%=h crianca.fone_trabalho%>)</th>
                  <%end%>
              <th align="left"><b>Mãe trabalha autonomo: </b></th>
                  <% if crianca.autonomo == false %>
                     <th align="left">NÃO</th>
                  <%else%>
                     <th align="left">SIM - Local: <%=h crianca.local_trabalho%> (<%=h crianca.fone_trabalho%>)</th>
                  <%end%>
            </tr>

            <tr style="font-size:8px">
              <th valign="top" align="left" width="10%"><b>Região:</b><br/><br/><b>Classe:</b><br/><br/><b>* Unidade indicada:</b></th>
              <th valign="top" align="left" ><%=h crianca.regiao.nome%><br/><br/><%=h crianca.grupo.nome%> - <%=h crianca.periodo%><br/><br/><%=h crianca.unidade_ref%> *
                     </th>
              <th valign="top" align="left"><b>Unidades na região: </b></th>
              <th valign="top"align="left"><% for unidade in @unidade_regiao%>
                                              - <%= unidade.nome %> <br/>
                                           <%end%>


                                <br/></th>

            </tr>
             <tr style="font-size:8px">
                 <th  colspan="6" align="left"><font  color="blue">
                      <b><u>ATENÇÃO:</b></u> <b>* A indicação de um unidade na é SOMENTE uma referência, a vaga será oferecida na região de residência da criança.  </b></font>
                  </th>
              </tr>

         </table>
       </fieldset>
       <fieldset><legend><font  size=3><b> IMPORTANTE</b></font></legend>
         <table width="100%">
           <tr style="font-size:8px">
               <th align="left"colspan="2" ><font  color="red">
                      <b><u>ATENÇÃO:</u> <br/>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        1) É DE RESPONSABILIDADE DOS PAIS E/OU RESPONSÁVEIS LEGAIS MANTER OS DADOS (TELEFONES, ENDEREÇOS, <br/> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                           SITUAÇÃOPROFISSIONAL E OUTROS) DEVIDAMENTE ATUALIZADOS  NO CADASTRO JUNTO À UNIDADE ONDE FOI<br/>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                           REALIZADA A INSCRIÇÃO.<br/> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

                        2) INSCRIÇÃO QUE CONTENHA DADOS E INFORMAÇÕES INCORRETAS E IMPRECISAS SERÃO <u>CANCELADAS</u><br/> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

                        3) QUANDO DA MATRICULA DA CRIANÇA TODOS OS DADOS E INFORMAÇÕES PRESTADOS NESTA INSCRIÇÃO DEVERÃO  <br/> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                           SER COMPROVADAS COM A DEVIDA DOCUMENTAÇÃO. <br/> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        4) A NÃO APRESENTAÇÃO DOS COMPROVANTES E DOCUMENTAÇÃO DEVIDOS ACARRETARÁ<br/> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp NO <u>CANCELAMENTO</u> DA INSCRIÇÃO. <br/>

                     </b>
              </th>
             </tr>

        </table>
       </fieldset>
   <%end%>
&nbsp&nbsp&nbsp
 
<font size ="1" ><b>Americana, <%= Time.now.strftime("%d/%m/%Y") %></b></font>

