
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      <img src="/stylesheets/images/logo.png"   alt=""  class="float-left"  />
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
       <font size="2"><i><b><u>DEMANDA ESCOLAR</u></b><br/>
&nbsp&nbsp&nbsp
     <font size="1"><i><b>Prefeitua Municipal de  Americana </b></i>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp
<font size="1"><b><u></u> DEMANDA GERAL      </b></i><br/>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      <font size="1"><b><i> Secretaria da Educação</i></b>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

<br/>

&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp

 <table  class ="invisible_to_print " >
   <tr  class ="invisible_to_print ">
     <td align="right" class ="invisible_to_print "><%= button_to "Imprimir", onclick="javascript:window.print()", :title => "Imprimir" %></td>
  </tr>
 </table>
 <fieldset>
   <legend><font size=2><b>DEMANDA POR REGIÃO</b></font></legend>
       <table frame="box" rules="all" width = "70%" align="center">
          <tr style="font-size:6px"  bgcolor="#DCDCDC">
            <th width="33%">
              <table frame="box" rules="all" width = "100%" align="center">
                    <tr style="font-size:6px"  bgcolor="#DCDCDC">
                        <th width="15%">Região</th>
                        <th width="6%">Total</th>
                    </tr>
               </table>
            </th>
            <th  width="33%">
                  <table frame="box" rules="all" width = "100%" align="center">
                    <tr style="font-size:6px" bgcolor="#DCDCDC">
                        <th width="1%" ></th>
                        <th width="15%">Região</th>
                        <th width="5%">Total</th>
                    </tr>
               </table>
            </th>
            <th   width="33%">
              <table frame="box" rules="all" width = "100%" align="center">
                    <tr style="font-size:6px"  bgcolor="#DCDCDC">
                        <th width="1%"></th>
                        <th width="15%">Região</th>
                         <th width="5%">Total</th>
                    </tr>
                 </table>
            </th>
         </tr>
         <tr>
            <% totalregiao0 = 0%>
             <% totalregiao1 = 0 %>
             <% totalregiao = 0%>

             <th valign="top">
                 <table frame="box" rules="all" width = "100%" align="center">
                    <% for reg1 in @regiaos1 %>
                       <tr style="font-size:6px">
                         <th  width="70%"><b><%= reg1.nome %></b></th>
                         <th  width="30%" align="center"><%= regiao = Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' and regiao_id = ? and vaga_id is null",reg1]).count %></th>
                                                          <% totalregiao = totalregiao + regiao%>
                       </tr>
                     <%end%>

                 </table>
             </th>
             <th valign="top">
                 <table frame="box" rules="all" width = "100%" align="center">
                     <% for reg2 in @regiaos2 %>
                       <tr style="font-size:6px">
                         <th width="5%" ></th>
                         <th  width="69%"><b><%= reg2.nome %></b></th>
                         <th  width="30%" align="center"><%= regiao = Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' and regiao_id = ? and vaga_id is null ",reg2]).count %></th>
                                                          <% totalregiao = totalregiao + regiao%>
                       </tr>
                     <%end%>

                 </table>
             </th>
             <th valign="top">
                 <table frame="box" rules="all" width = "100%" align="center">
                     <% for reg3 in @regiaos3 %>
                       <tr style="font-size:6px">
                         <th width="5%" ></th>
                         <th  width="69%"><b><%= reg3.nome %></b></th>
                         <th  width="30%" align="center"><%= regiao = Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' and regiao_id = ? and vaga_id is null",reg3]).count %></th>
                                                          <% totalregiao = totalregiao + regiao%>
                       </tr>
                     <%end%>
                      <tr style="font-size:6px"><th></th></tr>
                      <tr bgcolor="#DCDCDC">
                          <th colspan="3" align="left">
                              <table frame="box" rules="all" width = "100%" align="center">
                                  <tr style="font-size:6px">
                                    <th align="right" width="70%"><b>TOTAL GERAL INSCRIÇÕES: &nbsp&nbsp&nbsp</b></th>
                                    <th align="center" width="25%"><font color ="red"><b><%=totalregiao %></b></font></th>
                                  </tr>
                              </table>
                          </th>
                      </tr>
                 </table>
             </th>

         </tr>


       </table>

  </fieldset>

   <fieldset>
   <legend><font size=2><b>DEMANDA GERAL POR CLASSE</b></font></legend>
       <table border="1" cellspacing="0" cellpadding="1" width="100%" style="border-color: white">
        <tr style="font-size:6px">
            <th style="border-color: white"colspan="20"><b>S.M.</b> = Servidor Municipal &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                             <b>CTPS</b> = Com Registro na Carteira Profissional &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                             <b>Ñ.CTPS</b> = SEM Registro na Carteira Profissional
                             <br/>
                             <b>AUTO</b> = Autônomo &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                             <b>Ñ.TRA</b> = Não trabalha&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                             &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                             <b>TRAN</b> = Transferência entre unidades SEDUC
            </th>
        </tr>
        <tr style="font-size:6px"  >
           <th valign="top" width ="29%" style="border-color: white" >
            <table border="1" cellspacing="0" cellpadding="1" width="100%" style="border-color: white">
                <% @regiaos11.each do |regiao| %>
                <% session[:b1]=0%>
                <% session[:b2]=0%>
                <%  session[:tgpre]=0%>
                 <tr style="font-size:6px">
                   <th  width="45%" align="left"><%=h regiao.nome%> </th>
                    <th  width="5%" align="center">S.M.</th>
                    <th  width="5%" align="center">CTPS</th>
                    <th  width="5%" align="center">Ñ.CTPS</th>
                    <th  width="5%" align="center">AUTO</th>
                    <th  width="5%" align="center">Ñ.TRA</th>
                    <th  width="5%" align="center">TRAN</th>
                    <th  width="5%" align="center"></th>
                 </tr>
                 <tr style="font-size:6px" >
                   <th align="left"> Berçario I</th>
                                  <th  width="5%" align="center"><%=session[:b1sv]=Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' AND regiao_id=? AND recadastrada =1 AND servidor_publico= 1 AND grupo_id= 1", regiao]).size%></th>
                                  <th  width="5%" align="center"><%=session[:b1ctps]=Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' AND recadastrada =1 AND trabalho= 1 AND regiao_id=? AND grupo_id= 1", regiao]).size%></th>
                                  <th  width="5%" align="center"><%=session[:b1sctps]=Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' AND recadastrada =1 AND declaracao= 1  AND regiao_id=? AND grupo_id= 1", regiao]).size%></th>
                                  <th  width="5%" align="center"><%=session[:b1auto]=Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' AND recadastrada =1 AND autonomo= 1 AND regiao_id=? AND grupo_id= 1", regiao]).size%></th>
                                  <th  width="5%" align="center"><%=session[:b1ntrab]=Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' AND recadastrada =1 AND (transferencia= 0 AND autonomo= 0 AND declaracao= 0 AND trabalho= 0 AND servidor_publico= 0) AND regiao_id=? AND grupo_id= 1", regiao]).size%></th>
                                  <th  width="5%" align="center"><%=session[:b1trans]=Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' AND recadastrada =1 AND transferencia= 1 AND regiao_id=? AND grupo_id= 1", regiao]).size%></th>
                                  <th width="10%" align="center"><font color="blue"><%= Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 1 and regiao_id = ?", regiao.id]).count %>
                                      <%session[:b1] = session[:b1] + Crianca.find(:all, :conditions => ["status = 'NA_DEMANDA' and grupo_id= 1 and regiao_id = ?", regiao.id]).count%> </font></th>
                 </tr>
                 <tr style="font-size:6px" >
                   <th align="left"> Berçario II</th>
                                  <th  width="5%" align="center"><%=session[:b2sv]=Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' AND regiao_id=? AND recadastrada =1 AND servidor_publico= 1 AND grupo_id= 2", regiao]).size%></th>
                                  <th  width="5%" align="center"><%=session[:b2ctps]=Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' AND recadastrada =1 AND trabalho= 1 AND regiao_id=? AND grupo_id= 2", regiao]).size%></th>
                                  <th  width="5%" align="center"><%=session[:b2sctps]=Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' AND recadastrada =1 AND declaracao= 1  AND regiao_id=? AND grupo_id= 2", regiao]).size%></th>
                                  <th  width="5%" align="center"><%=session[:b2auto]=Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' AND recadastrada =1 AND autonomo= 1 AND regiao_id=? AND grupo_id= 2", regiao]).size%></th>
                                  <th  width="5%" align="center"><%=session[:b2ntrab]=Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' AND recadastrada =1 AND (transferencia= 0 AND autonomo= 0 AND declaracao= 0 AND trabalho= 0 AND servidor_publico= 0) AND regiao_id=? AND grupo_id= 2", regiao]).size%></th>
                                  <th  width="5%" align="center"><%=session[:b2trans]=Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' AND recadastrada =1 AND transferencia= 1 AND regiao_id=? AND grupo_id= 2", regiao]).size%></th>
                                  <th width="10%" align="center"><font color="blue" ><%= Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 2 and regiao_id = ?", regiao.id]).count %>
                                     <%session[:b2] =  session[:b2] + Crianca.find(:all, :conditions => ["status = 'NA_DEMANDA' and grupo_id= 2 and regiao_id = ?", regiao.id]).count%> </font></th>
                 </tr>
                 <tr style="font-size:6px" >

                   <th align="left"> Pré Escola </th>
                                  <th  width="5%" align="center"><%=session[:presv]=Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' AND regiao_id=? AND recadastrada =1 AND servidor_publico= 1 AND (grupo_id= 6 or grupo_id= 7)", regiao]).size%></th>
                                  <th  width="5%" align="center"><%=session[:prectps]=Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' AND recadastrada =1 AND trabalho= 1 AND regiao_id=? AND (grupo_id= 6 or grupo_id= 7)", regiao]).size%></th>
                                  <th  width="5%" align="center"><%=session[:presctps]=Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' AND recadastrada =1 AND declaracao= 1  AND regiao_id=? AND (grupo_id= 6 or grupo_id= 7)", regiao]).size%></th>
                                  <th  width="5%" align="center"><%=session[:preauto]=Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' AND recadastrada =1 AND autonomo= 1 AND regiao_id=? AND (grupo_id= 6 or grupo_id= 7)", regiao]).size%></th>
                                  <th  width="5%" align="center"><%=session[:prentrab]=Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' AND recadastrada =1 AND (transferencia= 0 AND autonomo= 0 AND declaracao= 0 AND trabalho= 0 AND servidor_publico= 0) AND regiao_id=? AND (grupo_id= 6 or grupo_id= 7)", regiao]).size%></th>
                                  <th  width="5%" align="center"><%=session[:pretrans]=Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' AND recadastrada =1 AND transferencia= 1 AND regiao_id=? AND (grupo_id= 6 or grupo_id= 7)", regiao]).size%></th>
                                  <th width="10%" align="center"><font color="blue" ><%= Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' and (grupo_id= 6 or grupo_id= 7) and regiao_id = ?", regiao.id]).count %>
                                     <%session[:pre] =  session[:pre] + Crianca.find(:all, :conditions => ["status = 'NA_DEMANDA' and (grupo_id= 6 or grupo_id= 7) and regiao_id = ?", regiao.id]).count%> </font></th>
                 </tr>

                 <tr style="font-size:6px" >
                   <th align="right">Sub-Total</th>
                   <th width="2%" align="center"><font color="blue"> <%= session[:b1sv]+session[:b2sv]+session[:presv]%></font></th>
                   <th width="2%" align="center"> <font color="blue"><%= session[:b1ctps]+session[:b2ctps]+session[:prectps]%></font></th>
                   <th width="2%" align="center"> <font color="blue"><%= session[:b1sctps]+session[:b2ctps]+session[:presctps]%></font></th>
                   <th width="2%" align="center"><font color="blue"> <%= session[:b1auto]+session[:b2auto]+session[:preauto]%></font></th>
                   <th width="2%" align="center"><font color="blue"> <%= session[:b1ntrab]+session[:b2ntrab]+session[:prentrab]%></font> </th>
                   <th width="2%" align="center"> <font color="blue"><%= session[:b1trans]+session[:b2trans]+session[:pretrans]%></font></th>
                   <th width="2%"><font color="blue"> <%= session[:b1]+session[:b2]+session[:pre]%></font>
                                   <% session[:tgb1]=session[:tgb1] +session[:b1]%>
                                   <% session[:tgb2]=session[:tgb2] +session[:b2]%>
                                   <% session[:tgpre]=session[:tgpre] +session[:pre]%>
                   </th>
                 </tr>
                 <tr style="font-size:6px" >
                   <th  style="border-color: white" align="left">&nbsp&nbsp&nbsp&nbsp&nbsp </th>
                   <th  style="border-color: white" width="2%">                   </th>
                 </tr>
                <%end%>
            </table>
          </th>
           <th valign="top" width ="29%">
               <table border="1" cellspacing="0" cellpadding="1" width="100%" style="border-color: white">

                <% @regiaos11.each do |regiao| %>
                <% session[:m1a]=0%>
                <% session[:m1b]=0%>
                <% session[:m2]=0%>
                <% session[:n1n2]=0 %>
                 <tr style="font-size:6px"">
                    <th  width="30%"  align="left"><%=h regiao.nome%> </th>
                    <th  width="5%" align="center">S.M.</th>
                    <th  width="5%" align="center">CTPS</th>
                    <th  width="5%" align="center">Ñ.CTPS</th>
                    <th  width="5%" align="center">AUTO</th>
                    <th  width="5%" align="center">Ñ.TRA</th>
                    <th  width="5%" align="center">TRAN</th>
                    <th  width="5%" align="center"></th>
                 </tr>
                 <tr style="font-size:6px">
                   <th width="20%" align="left"> Maternal I-A</th>
                                  <th  width="5%" align="center"><%=session[:m1asv]=Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' AND regiao_id=? AND recadastrada =1 AND servidor_publico= 1 AND grupo_id= 4", regiao]).size%></th>
                                  <th  width="5%" align="center"><%=session[:m1actps]=Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' AND recadastrada =1 AND trabalho= 1 AND regiao_id=? AND grupo_id= 4", regiao]).size%></th>
                                  <th  width="5%" align="center"><%=session[:m1asctps]=Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' AND recadastrada =1 AND declaracao= 1  AND regiao_id=? AND grupo_id= 4", regiao]).size%></th>
                                  <th  width="5%" align="center"><%=session[:m1aauto]=Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' AND recadastrada =1 AND autonomo= 1 AND regiao_id=? AND grupo_id= 4", regiao]).size%></th>
                                  <th  width="5%" align="center"><%=session[:m1antrab]=Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' AND recadastrada =1 AND (transferencia= 0 AND autonomo= 0 AND declaracao= 0 AND trabalho= 0 AND servidor_publico= 0) AND regiao_id=? AND grupo_id= 4", regiao]).size%></th>
                                  <th  width="5%" align="center"><%=session[:m1atrans]=Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' AND recadastrada =1 AND transferencia= 1 AND regiao_id=? AND grupo_id= 4", regiao]).size%></th>
                                  <th width="10%" align="center"><font color="blue"><%= Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 4 and regiao_id = ?", regiao.id]).count %>
                                  <%session[:m1a] = session[:m1a] + Crianca.find(:all, :conditions => ["status = 'NA_DEMANDA' and (grupo_id= 4 or grupo_id = 3) and regiao_id = ?", regiao.id]).count%> </th>

                 </tr>
                 <tr style="font-size:6px">
                   <th align="left">Maternal I-B</th>
                                 <th  width="5%" align="center"><%=session[:m1bsv]=Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' AND regiao_id=? AND recadastrada =1 AND servidor_publico= 1 AND grupo_id= 8", regiao]).size%></th>
                                  <th  width="5%" align="center"><%=session[:m1bctps]=Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' AND recadastrada =1 AND trabalho= 1 AND regiao_id=? AND grupo_id= 8", regiao]).size%></th>
                                  <th  width="5%" align="center"><%=session[:m1bsctps]=Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' AND recadastrada =1 AND declaracao= 1  AND regiao_id=? AND grupo_id= 8", regiao]).size%></th>
                                  <th  width="5%" align="center"><%=session[:m1bauto]=Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' AND recadastrada =1 AND autonomo= 1 AND regiao_id=? AND grupo_id= 8", regiao]).size%></th>
                                  <th  width="5%" align="center"><%=session[:m1bntrab]=Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' AND recadastrada =1 AND (transferencia= 0 AND autonomo= 0 AND declaracao= 0 AND trabalho= 0 AND servidor_publico= 0) AND regiao_id=? AND grupo_id= 8", regiao]).size%></th>
                                  <th  width="5%" align="center"><%=session[:m1btrans]=Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' AND recadastrada =1 AND transferencia= 1 AND regiao_id=? AND grupo_id= 8", regiao]).size%></th>
                                  <th width="10%" align="center"><font color="blue"><%= Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 8 and regiao_id = ?", regiao.id]).count %>
                                  <%session[:m1b] = session[:m1b] + Crianca.find(:all, :conditions => ["status = 'NA_DEMANDA' and grupo_id= 8 and regiao_id = ?", regiao.id]).count%> </font></font></th>

                 </tr>
                 <tr style="font-size:6px" >
                   <th align="left"> Maternal II</th>
                                  <th  width="5%" align="center"><%=session[:m2sv]=Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' AND regiao_id=? AND recadastrada =1 AND servidor_publico= 1 AND grupo_id= 5", regiao]).size%></th>
                                  <th  width="5%" align="center"><%=session[:m2ctps]=Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' AND recadastrada =1 AND trabalho= 1 AND regiao_id=? AND grupo_id= 5", regiao]).size%></th>
                                  <th  width="5%" align="center"><%=session[:m2sctps]=Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' AND recadastrada =1 AND declaracao= 1  AND regiao_id=? AND grupo_id= 5", regiao]).size%></th>
                                  <th  width="5%" align="center"><%=session[:m2auto]=Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' AND recadastrada =1 AND autonomo= 1 AND regiao_id=? AND grupo_id= 5", regiao]).size%></th>
                                  <th  width="5%" align="center"><%=session[:m2ntrab]=Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' AND recadastrada =1 AND (transferencia= 0 AND autonomo= 0 AND declaracao= 0 AND trabalho= 0 AND servidor_publico= 0) AND regiao_id=? AND grupo_id= 5", regiao]).size%></th>
                                  <th  width="5%" align="center"><%=session[:m2trans]=Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' AND recadastrada =1 AND transferencia= 1 AND regiao_id=? AND grupo_id= 5", regiao]).size%></th>
                                  <th width="10%" align="center"><font color="blue"><%= Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 5 and regiao_id = ?", regiao.id]).count %>
                                  <%session[:m2] = session[:m2] + Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 5 and regiao_id = ?", regiao.id]).count%></font> </th>
                 </tr>
                 <tr>
                   <th align="right">Sub-Total</th>
                   <th width="10%" align="center"><font color="blue"> <%= session[:m1asv] + session[:m1bsv]+ session[:m2sv]%></font> </th>
                   <th width="10%" align="center"><font color="blue"> <%= session[:m1actps] + session[:m1bctps]+ session[:m2ctps]%></font> </th>
                   <th width="10%" align="center"><font color="blue"> <%= session[:m1asctps] + session[:m1bsctps]+ session[:m2sctps]%></font> </th>
                   <th width="10%" align="center"><font color="blue"> <%= session[:m1aauto] + session[:m1bauto]+ session[:m2auto]%></font> </th>
                   <th width="10%" align="center"><font color="blue"> <%= session[:m1antrab] + session[:m1bntrab]+ session[:m2ntrab]%></font></th>
                   <th width="10%" align="center"><font color="blue"> <%= session[:m1atrans] + session[:m1btrans]+ session[:m2trans]%></font> </th>
                   <th width="10%" align="center"><font color="blue"> <%= session[:m1a] + session[:m1b]+ session[:m2]%></font>
                                   <% session[:tgm1a] =session[:tgm1a] + session[:m1a]%>
                                   <% session[:tgm1b]= session[:tgm1b] + session[:m1b]%>
                                   <% session[:tgm2]= session[:tgm2] + session[:m2]%>
                   </th>
                 </tr>
                 <tr style="font-size:6px" >
                   <th align="left">&nbsp&nbsp&nbsp&nbsp&nbsp </th>
                   <th width="10%"> </th>

                 </tr>

                <%end%>
            </table>
          </th>
        </tr>
      </table>
   </fieldset>

<fieldset>
   <legend><font size=2><b>DEMANDA GERAL POR CLASSE</b></font></legend>
     <table border="1" cellspacing="0" cellpadding="1" width="100%" style="border-color: white">
        <tr style="font-size:6px" >
          <th><font size ="2"><b>Classe</b><font></th>
          <th><font size ="2"><b>Total </b> <font> </th>
          <th width="1%"></th>
          <th><font size ="2"><b>Classe</b><font></th>
          <th><font size ="2"><b>Total </b><font>  </th>
          <th width="1%"></th>
           <th><font size ="2"><b>Classe</b><font></th>
          <th><font size ="2"><b>Total </b> <font> </th>
          <th width="1%"></th>
       </tr>
        <tr style="font-size:6px" >
          <th>- BERÇARIO I</th>
          <th><%= session[:tgb1] %>  </th>
          <th width="1%" bgcolor="#DCDCDC"></th>
          <th>- MATERNAL I - A </th>
          <th> <%= session[:tgm1a] %>  </th>
          <th width="1%" bgcolor="#DCDCDC"></th>
          <th>- MATERNAL II </th>
          <th> <%= session[:tgm2] %> </th>
       </tr>
       <tr style="font-size:6px" >
           <th>- BERÇARIO II </th>
          <th><%= session[:tgb2]%>  </th>
          <th width="1%" bgcolor="#DCDCDC"></th>
          <th>- MATERNAL I - B </th>
          <th><%= session[:tgm1b] %> </th>
          <th  bgcolor="#DCDCDC"> </th>
          <th> Pré Escola (1ª e 2ª Etapa) </th>
          <th><%# session[:tgN1N2]= Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' AND recadastrada =1  AND (grupo_id !=1 AND grupo_id !=2 AND grupo_id !=4 AND grupo_id !=5 AND grupo_id !=8) AND regiao_id > 99"]).size%> <%#= session[:tgN1N2]%>
              <%= session[:tgpre] %></th>

        </tr>

        <th colspan="7" align="right"><b></th>
          <% session[:tt]= session[:tgb1] + session[:tgb2] + session[:tgm1a] + session[:tgm1b] + session[:tgm2]+  session[:pre] %>
          <%# tt= cont1+ cont2+ cont3+ cont4+ cont5 %>
          <%# tt= cont1 %>
        <b>TOTAL GERAL INSCRIÇÕES: &nbsp&nbsp</b></th>
        <th align="center" width="6%"><font color ="red "size="2"><b><%=session[:tt] %> </b></font></th>
      </tr>
      </table>
 </fieldset>


  </div>

<br/>
<font size="1">
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

________________________________


&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

________________________________<br/>

&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
p/  Unidade Escolar
         
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

Assinatura do Responsável<br/>

</font>
&nbsp&nbsp

