
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      <img src="/stylesheets/images/logo.png"   alt=""  class="float-left"  />
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
       <font size="2"><i><b><u>DEMANDA ESCOLAR</u></b><br/>
&nbsp&nbsp&nbsp
     <font size="1"><i><b>Prefeitua Municipal de  Americana </b></i>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp
<font size="1"><b><u></u> DEMANDA GERAL      </b></i><br/>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      <font size="1"><b><i> Secretaria da Educação</i></b>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

<br/>

&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp

 <table  class ="invisible_to_print " >
   <tr  class ="invisible_to_print ">
     <td align="right" class ="invisible_to_print "><%= button_to "Imprimir", onclick="javascript:window.print()", :title => "Imprimir" %></td>
  </tr>
 </table>
 <fieldset>
   <legend><font size=2><b>DEMANDA POR REGIÃO</b></font></legend>
       <table frame="box" rules="all" width = "70%" align="center">
        <tr style="font-size:8px"  bgcolor="#C6BBBB">
            <th width="15%">Região</th>
            <th width="2%">S/Of. </th>
            <th width="2%">C/Of.</th>
            <th width="2%">Total</th>
            <th width="1%" bgcolor="#DCDCDC" ></th>
            <th width="15%">Região</th>
            <th width="2%">S/Of. </th>
            <th width="2%">C/Of.</th>
            <th width="2%">Total</th>
            <th width="1%" bgcolor="#DCDCDC" ></th>
            <th width="15%">Região</th>
            <th width="2%">S/Of. </th>
            <th width="2%">C/Of.</th>
            <th width="2%">Total</th>

        </tr>
             <% totalregiao0 = 0%>
             <% totalregiao1 = 0 %>
             <% totalregiao = 0%>
        <tr style="font-size:8px">
             <th align="center"> São Jerônimo</th>
             <% sj0 = Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' and regiao_id = 1 and vaga = 0"]).count %>
             <% sj1 = Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' and regiao_id = 1 and vaga = 1"]).count %>
             <% sjt =Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' and regiao_id = 1"]).count %>
             <% totalregiao0 = totalregiao0 + sj0 %>
             <% totalregiao1 = totalregiao1 + sj1 %>
             <% totalregiao = totalregiao + sjt %>

             <th align="center"><%= sj0 %></th>
             <th align="center"><%= sj1 %></th>
             <th align="center"><%= sjt %></th>

             <th></th>
             <th align="center"> Cidade Jardim</th>
             <% cj0= Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' and regiao_id = 2 and vaga = 0"]).count %>
             <% cj1= Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' and regiao_id = 2 and vaga = 1"]).count %>
             <% cjt= Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' and regiao_id = 2"]).count %>
             <% totalregiao0 = totalregiao0 + cj0 %>
             <% totalregiao1 = totalregiao1 + cj1 %>
             <% totalregiao = totalregiao + cjt %>

             <th align="center"><%= cj0 %></th>
             <th align="center"><%= cj1 %></th>
             <th align="center"><%= cjt %></th>

             <th></th>
             <th align="center"> São Vito / Jaguari</th>
             <% sv0 =  Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' and regiao_id = 3 and vaga = 0"]).count %></th>
             <% sv1 = Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' and regiao_id = 3 and vaga = 1" ]).count %></th>
             <% svt = Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' and regiao_id = 3"]).count %></th>
             <% totalregiao0 = totalregiao0 + sv0%>
             <% totalregiao1 = totalregiao1 + sv1%>
             <% totalregiao = totalregiao + svt%>

             <th align="center"><%= sv0 %></th>
             <th align="center"><%= sv1 %></th>
             <th align="center"><%= svt %></th>
        </tr>
        <tr style="font-size:8px">
             <th align="center"> Zanaga</th>
             <%zg0 = Crianca.find(:all, :select=> 'id',:conditions => ["status = 'NA_DEMANDA' and regiao_id = 4 and vaga = 0"]).count %>
             <%zg1 = Crianca.find(:all, :select=> 'id',:conditions => ["status = 'NA_DEMANDA' and regiao_id = 4 and vaga = 1"]).count %>
             <%zgt = Crianca.find(:all, :select=> 'id',:conditions => ["status = 'NA_DEMANDA' and regiao_id = 4"]).count %>
             <% totalregiao0 = totalregiao0 + zg0 %>
             <% totalregiao1 = totalregiao1 + zg1 %>
             <% totalregiao = totalregiao + zgt %>

             <th align="center"><%= zg0 %></th>
             <th align="center"><%= zg1 %></th>
             <th align="center"><%= zgt %></th>
             <th></th>
             <th align="center"> Jardim Ipiranga</th>
             <% ji0 = Crianca.find(:all, :select=> 'id',:conditions => ["status = 'NA_DEMANDA' and regiao_id = 5 and vaga = 0 "]).count %>
             <% ji1 = Crianca.find(:all, :select=> 'id',:conditions => ["status = 'NA_DEMANDA' and regiao_id = 5 and vaga =1"]).count %>
             <% jit = Crianca.find(:all, :select=> 'id',:conditions => ["status = 'NA_DEMANDA' and regiao_id = 5"]).count %>
             <% totalregiao0 = totalregiao0 + ji0 %>
             <% totalregiao1 = totalregiao1 + ji1 %>
             <% totalregiao = totalregiao + jit %>

             <th align="center"><%= ji0 %></th>
             <th align="center"><%= ji1 %></th>
             <th align="center"><%= jit %></th>

             <th></th>
             <th align="center"> Centro</th>
             <%ct0 = Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' and regiao_id = 6  and vaga = 0"]).count %>
             <%ct1 = Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' and regiao_id = 6 and vaga = 1"]).count %>
             <%ctt = Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' and regiao_id = 6"]).count %>
             <% totalregiao0 = totalregiao0 + ct0 %>
             <% totalregiao1 = totalregiao1 + ct1 %>
             <% totalregiao = totalregiao + ctt %>

             <th align="center"><%= ct0 %></th>
             <th align="center"><%= ct1 %></th>
             <th align="center"><%= ctt %></th>

        </tr>
        <tr style="font-size:8px">
             <th align="center"> Praia Azul</th>
             <%pa0 = Crianca.find(:all, :select=> 'id',:conditions => ["status = 'NA_DEMANDA' and regiao_id = 7 and vaga = 0"]).count %>
             <%pa1 = Crianca.find(:all, :select=> 'id',:conditions => ["status = 'NA_DEMANDA' and regiao_id = 7 and vaga = 1"]).count %>
             <%pat = Crianca.find(:all, :select=> 'id',:conditions => ["status = 'NA_DEMANDA' and regiao_id = 7"]).count %>
             <% totalregiao0 = totalregiao0 + pa0 %>
             <% totalregiao1 = totalregiao1 + pa1 %>
             <% totalregiao = totalregiao + pat %>

             <th align="center"><%= pa0 %></th>
             <th align="center"><%= pa1 %></th>
             <th align="center"><%= pat %></th>
             <th></th>
             <th align="center"> Parque da Nações</th>
             <%pn0 = Crianca.find(:all, :select=> 'id',:conditions => ["status = 'NA_DEMANDA' and regiao_id = 8 and vaga = 0"]).count %>
             <%pn1 = Crianca.find(:all, :select=> 'id',:conditions => ["status = 'NA_DEMANDA' and regiao_id = 8 and vaga = 1"]).count %>
             <%pnt= Crianca.find(:all, :select=> 'id',:conditions => ["status = 'NA_DEMANDA' and regiao_id = 8"]).count %>
             <% totalregiao0 = totalregiao0 + pn0 %>
             <% totalregiao1 = totalregiao1 + pn1 %>
             <% totalregiao = totalregiao + pnt %>

             <th align="center"><%= pn0 %></th>
             <th align="center"><%= pn1 %></th>
             <th align="center"><%= pnt %></th>
             <th></th>
             <th align="center"> Alvorada</th>
             <%al0= Crianca.find(:all, :select=> 'id',:conditions => ["status = 'NA_DEMANDA' and regiao_id = 9 and vaga = 0"]).count %>
             <%al1= Crianca.find(:all, :select=> 'id',:conditions => ["status = 'NA_DEMANDA' and regiao_id = 9 and vaga = 1"]).count %>
             <%alt= Crianca.find(:all, :select=> 'id',:conditions => ["status = 'NA_DEMANDA' and regiao_id = 9"]).count %>
             <% totalregiao0 = totalregiao0 + al0 %>
             <% totalregiao1 = totalregiao1 + al1 %>
             <% totalregiao = totalregiao + alt %>

             <th align="center"><%= al0 %> </th>
             <th align="center"><%= al1 %></th>
             <th align="center"><%= alt %></th>
       </tr>
       <tr bgcolor="#DCDCDC"  style="font-size:8px">
          <th colspan="11"align="right"><b>TOTAL GERAL INSCRIÇÕES: &nbsp&nbsp</b></th>
          <th align="center" width="2%"><font color ="red" ><b><%=totalregiao0 %></b></font></th>
          <th align="center"width="2%"><font color ="red "><b><%=totalregiao1 %></b></font></th>
          <th align="center" width="2%"><font color ="red "><b><%=totalregiao %></b></font></th>

      </tr>
     </table>
  </fieldset>
<% b1=0%>
<% b10=0%>
<% b11=0%>
<% b2=0%>
<% b20=0%>
<% b21=0%>
<% m1a=0%>
<% m1a0=0%>
<% m1a1=0%>
<% m1b=0%>
<% m1b1=0%>
<% m1b0=0%>
<% m2=0%>
<% m20=0%>
<% m21=0%>
<% n1=0%>
<% n10=0%>
<% n11=0%>
<% n2=0%>
<% n21=0%>
<% n20=0%>
 <fieldset>
   <legend><font size=2><b>DEMANDA GERAL POR UNIDADE</b></font></legend>
      <table  width="100%" frame="box" rules="all">
        <tr style="font-size:8px">
          <td width ="25%">
            <table  width="100%" frame="box" rules="all">
                <tr bgcolor="#F5F5F5" style="font-size:8px">
                    <th width="35%">Unidade</th>
                    <th width="2%">Total</th>
                </tr>
                 <%cont1=0%>
                 <% @unidades11.each do |unidade| %>
                 <% num =  Crianca.find(:all, :conditions => ["status = 'NA_DEMANDA' and opcao1 = ?", unidade.nome]).count%>
                 <% cont1 = cont1+num%>
                 <tr bgcolor="#F5F5F5" style="font-size:8px">
                   <th  colspan="2" width="35%" align="left"><%=h unidade.nome%></th>

                 </tr>
                 <tr style="font-size:8px">
                   <th align="left">&nbsp&nbsp&nbsp&nbsp&nbsp - Berçario I</th>
                   <th  align="center" width="2%"><%= Crianca.find(:all, :conditions => ["status = 'NA_DEMANDA' and grupo_id= 1 and opcao1 = ?", unidade.nome]).count %>
                                  <%b10 = b10 + Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 1 and opcao1 = ? and vaga = 0", unidade.nome]).count%>
                                  <%b11 = b11 + Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 1 and opcao1 = ? and vaga = 1", unidade.nome]).count%>
                                  <%b1 = b1 + Crianca.find(:all, :conditions => ["status = 'NA_DEMANDA' and grupo_id= 1 and opcao1 = ?", unidade.nome]).count%> </th>
                 </tr>
                 <tr style="font-size:8px">
                   <th align="left">&nbsp&nbsp&nbsp&nbsp&nbsp - Berçario II</th>
                   <th  align="center" width="2%"><%= Crianca.find(:all, :conditions => ["status = 'NA_DEMANDA' and grupo_id= 2 and opcao1 = ?", unidade.nome]).count %>
                                   <%b20 = b20 + Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 2 and opcao1 = ? and vaga = 0", unidade.nome]).count%>
                                   <%b21 = b21 + Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 2 and opcao1 = ? and vaga = 1", unidade.nome]).count%>
                                   <%b2 = b2 + Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 2 and opcao1 = ?", unidade.nome]).count%> </th>
                  </tr>
                 <tr style="font-size:8px">
                   <th align="left">&nbsp&nbsp&nbsp&nbsp&nbsp - Maternal I (2015)</th>
                   <th  align="center" width="2%"><%= Crianca.find(:all, :conditions => ["status = 'NA_DEMANDA' and grupo_id= 4 and opcao1 = ?", unidade.nome]).count %>
                                  <%m1a0 = m1a0 + Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and (grupo_id= 4 or grupo_id = 3) and opcao1 = ?  and vaga = 0", unidade.nome]).count%>
                                  <%m1a1 = m1a1 + Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and (grupo_id= 4 or grupo_id = 3) and opcao1 = ?  and vaga = 1", unidade.nome]).count%>
                                 <%m1a = m1a + Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and (grupo_id= 4 or grupo_id = 3) and opcao1 = ?", unidade.nome]).count%> </th>
                 </tr>
                 <tr style="font-size:8px">
                   <th align="left">&nbsp&nbsp&nbsp&nbsp&nbsp - Maternal I (2016)</th>
                   <th align="center" width="2%"><%= Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 8 and opcao1 = ?", unidade.nome]).count %>
                                   <%m1b0 = m1b0 + Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 8 and opcao1 = ?  and vaga = 0", unidade.nome]).count%>
                                   <%m1b1 = m1b1 + Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 8 and opcao1 = ?  and vaga = 1", unidade.nome]).count%>
                                   <%m1b = m1b + Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 8 and opcao1 = ?", unidade.nome]).count%> </th>
                 </tr>
                 <tr  style="font-size:8px">
                   <th align="left">&nbsp&nbsp&nbsp&nbsp&nbsp - Maternal II</th>
                   <th align="center" width="2%"><%= Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 5 and opcao1 = ?", unidade.nome]).count %>
                                <%m20 = m20 + Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 5 and opcao1 = ? and vaga = 0", unidade.nome]).count%>
                                <%m21 = m21 + Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 5 and opcao1 = ? and vaga = 1", unidade.nome]).count%>
                                <%m2 = m2 + Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 5 and opcao1 = ?", unidade.nome]).count%> </th>                 
                 </tr>
                 <tr  style="font-size:8px">
                   <th align="left">&nbsp&nbsp&nbsp&nbsp&nbsp - Nivel I</th>
                   <th align="center" width="2%"><%= Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 6 and opcao1 = ?", unidade.nome]).count %>
                                  <%n10 = n10 + Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 6 and opcao1 = ? and vaga = 0", unidade.nome]).count%>
                                  <%n11 = n11 + Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 6 and opcao1 = ? and vaga =1", unidade.nome]).count%>
                                  <%n1 = n1 + Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 6 and opcao1 = ?", unidade.nome]).count%> </th>
                 </tr>
                 <tr style="font-size:8px">
                   <th align="left">&nbsp&nbsp&nbsp&nbsp&nbsp - Nivel II</th>
                   <th align="center" width="2%"><%= Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 7 and opcao1 = ?", unidade.nome]).count %>
                                <%n20 = n20 + Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 7 and opcao1 = ? and vaga = 0", unidade.nome]).count%>
                                <%n21 = n21 + Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 7 and opcao1 = ? and vaga = 1", unidade.nome]).count%>
                                <%n2 = n2 + Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 7 and opcao1 = ?", unidade.nome]).count%> </th>
                 </tr>
                 <tr style="font-size:8px">
                   <th align="right">Total</th>
                   <th align="center" width="2%">  <%= Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and opcao1 = ?", unidade.nome]).count %></th>
                 </tr>
                <%end%>
                 <tr bgcolor="#F5F5F5"  style="font-size:8px">
                   <th colspan="2" align="right"><b>Total Inscrições: </b>&nbsp&nbsp
                            <font color ="red"><b><%= cont1 %></b></font>&nbsp&nbsp</th>
                 </tr>
            </table>
           </td>
           <td  width ="25%" valign="top">
            <table  width="100%" frame="box" rules="all">
                <tr bgcolor="#F5F5F5" style="font-size:8px">
                    <th width="35%">Unidade</th>
                    <th width="2%">Total</th>
                </tr>
                 <%cont2=0%>
                 <% @unidades12.each do |unidade| %>
                 <% num =  Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and opcao1 = ?", unidade.nome]).count %>
                 <%cont2 = cont2+num%>
                 <tr bgcolor="#F5F5F5" style="font-size:8px">
                   <th  colspan="2" width="35%" align="left"><%=h unidade.nome%></th>

                 </tr>
                 <tr style="font-size:8px">
                   <th align="left">&nbsp&nbsp&nbsp&nbsp&nbsp - Berçario I</th>
                   <th align="center" width="2%"><%= Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 1 and opcao1 = ?", unidade.nome]).count %>
                                  <%b10 = b10 + Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 1 and opcao1 = ? and vaga = 0", unidade.nome]).count%>
                                  <%b11 = b11 + Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 1 and opcao1 = ? and vaga = 1", unidade.nome]).count%>
                                  <%b1 = b1 + Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 1 and opcao1 = ?", unidade.nome]).count%> </th>
                 </tr>
                 <tr style="font-size:8px">
                   <th align="left">&nbsp&nbsp&nbsp&nbsp&nbsp - Berçario II</th>
                   <th align="center" width="2%"><%= Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 2 and opcao1 = ?", unidade.nome]).count %>
                                   <%b20 = b20 + Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 2 and opcao1 = ? and vaga = 0", unidade.nome]).count%>
                                   <%b21 = b21 + Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 2 and opcao1 = ? and vaga = 1", unidade.nome]).count%>
                                   <%b2 = b2 + Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 2 and opcao1 = ?", unidade.nome]).count%> </th>
                 </tr>
                 <tr style="font-size:8px">
                   <th align="left">&nbsp&nbsp&nbsp&nbsp&nbsp - Maternal I (2015)</th>
                   <th align="center" width="2%"><%= Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 4 and opcao1 = ?", unidade.nome]).count %>
                                  <%m1a0 = m1a0 + Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and (grupo_id= 4 or grupo_id = 3) and opcao1 = ?  and vaga = 0", unidade.nome]).count%>
                                  <%m1a1 = m1a1 + Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and (grupo_id= 4 or grupo_id = 3) and opcao1 = ?  and vaga = 1", unidade.nome]).count%>
                                  <%m1a = m1a + Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and (grupo_id= 4 or grupo_id = 3) and opcao1 = ?", unidade.nome]).count%> </th>
                 </tr>
                 <tr style="font-size:8px">
                   <th align="left">&nbsp&nbsp&nbsp&nbsp&nbsp - Maternal I (2016)</th>
                   <th align="center" width="2%"><%= Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 8 and opcao1 = ?", unidade.nome]).count %>
                                   <%m1b0 = m1b0 + Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 8 and opcao1 = ?  and vaga = 0", unidade.nome]).count%>
                                   <%m1b1 = m1b1 + Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 8 and opcao1 = ?  and vaga = 1", unidade.nome]).count%>
                                   <%m1b = m1b + Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 8 and opcao1 = ?", unidade.nome]).count%> </th>
                 </tr>
                 <tr style="font-size:8px">
                   <th align="left">&nbsp&nbsp&nbsp&nbsp&nbsp - Maternal II</th>
                   <th align="center" width="2%"><%= Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 5 and opcao1 = ?", unidade.nome]).count %>
                                <%m20 = m20 + Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 5 and opcao1 = ? and vaga = 0", unidade.nome]).count%>
                                <%m21 = m21 + Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 5 and opcao1 = ? and vaga = 1", unidade.nome]).count%>
                                <%m2 = m2 + Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 5 and opcao1 = ?", unidade.nome]).count%> </th>
                 </tr>
                 <tr style="font-size:8px">
                   <th align="left">&nbsp&nbsp&nbsp&nbsp&nbsp - Nivel I</th>
                   <th align="center" width="2%"><%= Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 6 and opcao1 = ?", unidade.nome]).count %>
                                    <%n10 = n10 + Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 6 and opcao1 = ? and vaga = 0", unidade.nome]).count%>
                                    <%n11 = n11 + Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 6 and opcao1 = ? and vaga =1", unidade.nome]).count%>
                                    <%n1 = n1 + Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 6 and opcao1 = ?", unidade.nome]).count%> </th>
                 </tr>
                 <tr style="font-size:8px">
                   <th align="left">&nbsp&nbsp&nbsp&nbsp&nbsp - Nivel II</th>
                   <th align="center" width="2%"><%= Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 7 and opcao1 = ?", unidade.nome]).count %>
                                <%n20 = n20 + Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 7 and opcao1 = ? and vaga = 0", unidade.nome]).count%>
                                <%n21 = n21 + Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 7 and opcao1 = ? and vaga = 1", unidade.nome]).count%>
                                <%n2 = n2 + Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 7 and opcao1 = ?", unidade.nome]).count%> </th>
                 </tr>
                 <tr style="font-size:8px">
                   <th align="right">Total</th>
                   <th align="center" width="2%">  <%= Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and opcao1 = ?", unidade.nome]).count %></th>
                 </tr>

                <%end%>
                 <tr bgcolor="#F5F5F5" style="font-size:8px">
                   <th colspan="2" align="right"><b>Total Inscrições: </b>&nbsp&nbsp
                            <font color ="red"><b><%= cont2 %></b></font>&nbsp&nbsp</th>
                 </tr>

            </table>
           </td>
           <td  width ="25%"valign="top">
            <table  width="100%" frame="box" rules="all">
                <tr bgcolor="#F5F5F5" style="font-size:8px">
                    <th width="35%">Unidade</th>
                    <th width="2%">Total</th>
                </tr>
                 <%cont3=0%>
                 <% @unidades13.each do |unidade| %>
                 <% num =  Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and opcao1 = ?", unidade.nome]).count %>
                 <%cont3 = cont3+num%>
                 <tr bgcolor="#F5F5F5" style="font-size:8px">
                   <th  colspan="2" width="35%" align="left"><%=h unidade.nome%></th>

                 </tr>
                 <tr style="font-size:8px">
                   <th align="left">&nbsp&nbsp&nbsp&nbsp&nbsp - Berçario I</th>
                   <th align="center" width="2%"><%= Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 1 and opcao1 = ?", unidade.nome]).count %>
                                  <%b10 = b10 + Crianca.find(:all, :select =>'id', :select =>'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 1 and opcao1 = ? and vaga = 0", unidade.nome]).count%>
                                  <%b11 = b11 + Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 1 and opcao1 = ? and vaga = 1", unidade.nome]).count%>
                                  <%b1 = b1 + Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 1 and opcao1 = ?", unidade.nome]).count%> </th>
                 </tr>
                 <tr style="font-size:8px">
                   <th align="left">&nbsp&nbsp&nbsp&nbsp&nbsp - Berçario II</th>
                   <th align="center" width="2%"><%= Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 2 and opcao1 = ?", unidade.nome]).count %>
                                   <%b20 = b20 + Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 2 and opcao1 = ? and vaga = 0", unidade.nome]).count%>
                                   <%b21 = b21 + Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 2 and opcao1 = ? and vaga = 1", unidade.nome]).count%>
                                   <%b2 = b2 + Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 2 and opcao1 = ?", unidade.nome]).count%> </th>
                 </tr>
                 <tr style="font-size:8px">
                   <th align="left">&nbsp&nbsp&nbsp&nbsp&nbsp - Maternal I (2015)</th>
                   <th align="center" width="2%"><%= Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 4 and opcao1 = ?", unidade.nome]).count %>
                                  <%m1a0 = m1a0 + Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and (grupo_id= 4 or grupo_id = 3) and opcao1 = ?  and vaga = 0", unidade.nome]).count%>
                                  <%m1a1 = m1a1 + Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and (grupo_id= 4 or grupo_id = 3) and opcao1 = ?  and vaga = 1", unidade.nome]).count%>
                                  <%m1a = m1a + Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and (grupo_id= 4 or grupo_id = 3) and opcao1 = ?", unidade.nome]).count%> </th>
                 </tr>
                 <tr style="font-size:8px">
                   <th align="left">&nbsp&nbsp&nbsp&nbsp&nbsp - Maternal I (2016)</th>
                   <th align="center" width="2%"><%= Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 8 and opcao1 = ?", unidade.nome]).count %>
                                   <%m1b0 = m1b0 + Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 8 and opcao1 = ?  and vaga = 0", unidade.nome]).count%>
                                   <%m1b1 = m1b1 + Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 8 and opcao1 = ?  and vaga = 1", unidade.nome]).count%>
                                   <%m1b = m1b + Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 8 and opcao1 = ?", unidade.nome]).count%> </th>
                 </tr>
                 <tr style="font-size:8px">
                   <th align="left">&nbsp&nbsp&nbsp&nbsp&nbsp - Maternal II</th>
                   <th align="center" width="2%"><%= Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 5 and opcao1 = ?", unidade.nome]).count %>
                                <%m20 = m20 + Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 5 and opcao1 = ? and vaga = 0", unidade.nome]).count%>
                                <%m21 = m21 + Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 5 and opcao1 = ? and vaga = 1", unidade.nome]).count%>
                                <%m2 = m2 + Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 5 and opcao1 = ?", unidade.nome]).count%> </th>
                 </tr>
                 <tr style="font-size:8px">
                   <th align="left">&nbsp&nbsp&nbsp&nbsp&nbsp - Nivel I</th>
                   <th align="center" width="2%"><%= Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 6 and opcao1 = ?", unidade.nome]).count %>
                                  <%n10 = n10 + Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 6 and opcao1 = ? and vaga = 0", unidade.nome]).count%>
                                  <%n11 = n11 + Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 6 and opcao1 = ? and vaga =1", unidade.nome]).count%>
                                  <%n1 = n1 + Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 6 and opcao1 = ?", unidade.nome]).count%> </th>
                 </tr>
                 <tr style="font-size:8px">
                   <th align="left">&nbsp&nbsp&nbsp&nbsp&nbsp - Nivel II</th>
                   <th align="center" width="2%"><%= Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 7 and opcao1 = ?", unidade.nome]).count %>
                                <%n20 = n20 + Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 7 and opcao1 = ? and vaga = 0", unidade.nome]).count%>
                                <%n21 = n21 + Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 7 and opcao1 = ? and vaga = 1", unidade.nome]).count%>
                                <%n2 = n2 + Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 7 and opcao1 = ?", unidade.nome]).count%> </th>
                 </tr>
                 <tr style="font-size:8px">
                   <th align="right">Total</th>
                   <th align="center" width="2%">  <%= Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and opcao1 = ?", unidade.nome]).count %></th>
                 </tr>
                <%end%>
                 <tr bgcolor="#F5F5F5" style="font-size:8px">
                   <th colspan="2" align="right"><b>Total Inscrições: </b>&nbsp&nbsp
                            <font color ="red"><b><%= cont3 %></b></font>&nbsp&nbsp</th>
                 </tr>
            </table>
           </td>
           <td  width ="25%" valign="top">
             <table  width="100%" frame="box" rules="all">
                <tr bgcolor="#F5F5F5" style="font-size:8px">
                    <th width="35%">Unidade</th>
                    <th width="2%">Total</th>
                </tr>
                 <%cont4=0%>
                 <% @unidades14.each do |unidade| %>
                 <% num =  Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and opcao1 = ?", unidade.nome]).count %>
                 <%cont4 = cont4+num%>
                 <tr style="font-size:8px">
                   <th  colspan="2" width="35%" align="left"><%=h unidade.nome%></th>

                 </tr>
                 <tr style="font-size:8px">
                   <th align="left">&nbsp&nbsp&nbsp&nbsp&nbsp - Berçario I</th>
                   <th align="center" width="2%"><%= Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 1 and opcao1 = ?", unidade.nome]).count %>
                                  <%b10 = b10 + Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 1 and opcao1 = ? and vaga = 0", unidade.nome]).count%>
                                  <%b11 = b11 + Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 1 and opcao1 = ? and vaga = 1", unidade.nome]).count%>
                                  <%b1 = b1 + Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 1 and opcao1 = ?", unidade.nome]).count%>
                   </th>
                 </tr>
                 <tr style="font-size:8px">
                   <th align="left">&nbsp&nbsp&nbsp&nbsp&nbsp - Berçario II</th>
                   <th align="center" width="2%"><%= Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 2 and opcao1 = ?", unidade.nome]).count %>
                                 <%b20 = b20 + Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 2 and opcao1 = ? and vaga = 0", unidade.nome]).count%>
                                 <%b21 = b21 + Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 2 and opcao1 = ? and vaga = 1", unidade.nome]).count%>
                                 <%b2 = b2 + Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 2 and opcao1 = ?", unidade.nome]).count%>
                   </th>
                 </tr>
                 <tr style="font-size:8px">
                   <th align="left">&nbsp&nbsp&nbsp&nbsp&nbsp - Maternal I (2015)</th>
                   <th align="center" width="2%"><%= Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id=4 and opcao1 = ?", unidade.nome]).count %>
                                  <%m1a0 = m1a0 + Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and (grupo_id= 4 or grupo_id = 3) and opcao1 = ?  and vaga = 0", unidade.nome]).count%>
                                  <%m1a1 = m1a1 + Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and (grupo_id= 4 or grupo_id = 3) and opcao1 = ?  and vaga = 1", unidade.nome]).count%>
                                  <%m1a = m1a + Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and (grupo_id= 4 or grupo_id = 3) and opcao1 = ? ", unidade.nome]).count%>
                   </th>
                 </tr >
                 <tr style="font-size:8px">
                   <th align="left">&nbsp&nbsp&nbsp&nbsp&nbsp - Maternal I (2016)</th>
                   <th align="center" width="2%"><%= Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id=8 and opcao1 = ?", unidade.nome]).count %>
                                  <%m1b = m1b + Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 8 and opcao1 = ? ", unidade.nome]).count%>
                                   <%m1b0 = m1b0 + Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 8 and opcao1 = ?  and vaga = 0", unidade.nome]).count%>
                                   <%m1b1 = m1b1 + Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 8 and opcao1 = ?  and vaga = 1", unidade.nome]).count%>
                   </th>
                 </tr >
                 <tr style="font-size:8px">
                   <th align="left">&nbsp&nbsp&nbsp&nbsp&nbsp - Maternal II</th>
                   <th align="center" width="2%"><%= Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 5 and opcao1 = ?", unidade.nome]).count %>
                                <%m2 = m2 + Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 5 and opcao1 = ? ", unidade.nome]).count%>
                                <%m20 = m20 + Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 5 and opcao1 = ? and vaga = 0", unidade.nome]).count%>
                                <%m21 = m21 + Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 5 and opcao1 = ? and vaga = 1", unidade.nome]).count%>
                  </th>
                 </tr>
                 <tr style="font-size:8px">
                   <th align="left">&nbsp&nbsp&nbsp&nbsp&nbsp - Nivel I</th>
                   <th align="center" width="2%"><%= Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 6 and opcao1 = ?", unidade.nome]).count %>
                                  <%n1 = n1 + Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 6 and opcao1 = ?", unidade.nome]).count%>
                                  <%n10 = n10 + Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 6 and opcao1 = ? and vaga = 0", unidade.nome]).count%>
                                  <%n11 = n11 + Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 6 and opcao1 = ? and vaga =1", unidade.nome]).count%>
                   </th>
                 </tr>
                 <tr style="font-size:8px">
                   <th align="left">&nbsp&nbsp&nbsp&nbsp&nbsp - Nivel II</th>
                   <th align="center" width="2%"><%= Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 7 and opcao1 = ?", unidade.nome]).count %>
                                <%n2 = n2 + Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 7 and opcao1 = ?", unidade.nome]).count%>
                                <%n20 = n20 + Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 7 and opcao1 = ? and vaga = 0", unidade.nome]).count%>
                                <%n21 = n21 + Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 7 and opcao1 = ? and vaga = 1", unidade.nome]).count%>

                   </th>
                 </tr>
                 <tr style="font-size:8px">
                   <th align="right">Total</th>
                   <th align="center" ><%= Crianca.find(:all, :select =>'id', :conditions => ["status = 'NA_DEMANDA' and opcao1 = ?", unidade.nome]).count %></th>
                 </tr>

                <%end%>
                 <tr bgcolor="#F5F5F5" style="font-size:8px">
                   <th colspan="2" align="right"><b>Total Inscrições: </b>&nbsp&nbsp
                            <font color ="red "><b><%= cont4 %></b></font>&nbsp&nbsp&nbsp&nbsp</th>
                 </tr>
            </table>
           </td>
        </tr>
      </table>
   </fieldset>
<fieldset>
   <legend><font size=2><b>DEMANDA GERAL POR CLASSE</b></font></legend>
      <table  width="100%" frame="box" rules="all">
        <tr style="font-size:8px">
          <th><b>Classe</b></th>
          <th><b>S/Of.</b>  </th>
          <th><b>C/Of. </b> </th>
          <th><b>Total </b> </th>
          <th width="1%"></th>
          <th><b>Classe</b></th>
          <th><b>S/Of.</b>  </th>
          <th><b>C/Of. </b>  </th>
          <th><b>Total </b>  </th>
          <th width="1%"></th>
           <th><b>Classe</b></th>
          <th><b>S/Of.</b>  </th>
          <th><b>C/Of. </b>  </th>
          <th><b>Total </b>  </th>
          <th width="1%"></th>
          <th><b>Classe</b><font></th>
          <th><b>S/Of.</b>  </th>
          <th><b>C/Of. </b>  </th>
          <th><b>Total </b>  </th>
       </tr>
       <tr bgcolor="#F5F5F5" style="font-size:8px">
          <th>- BERÇARIO I:</th>
          <th><%= b10%>  </th>
          <th><%= b11%>  </th>
          <th><%= b1%>  </th>
          <th width="1%"></th>
          <th>- Maternal I (2015): </th>
          <th><%= m1a0%>  </th>
          <th><%= m1a1%>  </th>
          <th><%= m1a%>  </th>
          <th width="1%"></th>
          <th>- MATERNAL II: </th>
          <th><%= m20%>  </th>
          <th><%= m21%>  </th>
          <th><%= m2%>  </th>
          <th width="1%"></th>
          <th>- NÍVEL I: </th>
          <th><%= n10%>  </th>
          <th><%= n11%>  </th>
          <th><%= n1%>  </th>

       </tr>
        <tr bgcolor="#F5F5F5" style="font-size:8px">
           <th>- BERÇARIO II: </th>
          <th><%= b20%>  </th>
          <th><%= b21%>  </th>
          <th><%= b2%>  </th>
          <th width="1%"></th>
          <th>- Maternal I (2016): </th>
          <th><%= m1b0%>  </th>
          <th><%= m1b1%>  </th>
          <th><%= m1b%>  </th>
          <th> </th>
          <th> </th>
          <th> </th>
          <th> </th>
          <th ></th>
          <th width="1%"></th>
          <th>- NÍVEL II: </th>
          <th><%= n20%>  </th>
          <th><%= n21%>  </th>
          <th><%= n2%>  </th>
        </tr>
       <tr style="font-size:8px">
          <% tt= 0 %>
          <% tt= cont1+ cont2+ cont3+ cont4 %>
        <th colspan="16"align="right"><b>TOTAL GERAL INSCRIÇÕES: &nbsp&nbsp</b></th>
        <th align="center" width="4%"><font color ="red "><b><%=totalregiao0 %></b></font></th>
        <th align="center"width="4%"><font color ="red" ><b><%=totalregiao1 %></b></font></th>
        <th align="center" width="4%"><font color ="red" ><b><%=tt %> </b></font></th>

      </tr>
      </table>
</fieldset>



<table>
  <tr style="font-size:8px" >
    <th>
      <b>Lista  sujeita a alterações a qualquer momento</b><font>
      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          <font size ="1" ><b>Americana, <%= Time.now.strftime("%d/%m/%Y") %></b>
    </th>
  </tr>

</table>
  </div>

<br/>
<font size="1">
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

________________________________


&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

________________________________<br/>

&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
p/  Unidade Escolar
         
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

Assinatura do Responsável<br/>

</font>
&nbsp&nbsp

