
<div id="interno2">
<% title "CRIANCAS".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong> RECADASTRAMENTO</strong></font><br/>
 </div>


  <div class="tabs">
<% form_for(@crianca) do |f| %>
 <%= f.error_messages %>
      <font size ="3" color="RED"><b> &nbsp&nbsp&nbsp&nbsp
                    <b><u>ATENÇÃO:</u> <br/>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        1) A classificação será realizada por setorização regional, sendo as regiões definidas pela Secretaria Municipal<br/> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                         de Educação de Americana. A criança ficará classificada obrigatoriamente na região de abrangência do <br/> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                         endereço residencial da família ou aquele indicado pelo responsável legal, mediante justificativa e  <br/> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                         comprovação. A criança ficará classificada em uma única região, podendo ser atendida em qualquer uma<br/> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                         uma das unidades da região, conforme disponibilidade de vagas.<br/> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        
                        2) Todas as informações prestadas na inscrição deverão estar corretas e devidamente comprovadas com os <br/> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                         respectivos documentos. Informações não comprovadas serão desconsideradas podendo implicar,<br/> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                         no <u>CANCELAMENTO</u> da inscrição.<br/> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp


                         3) Visando otimização no atendimento da demanda, a Secretaria de Educação de Americana poderá rever e,<br/> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                         alterar a qualquer tempo, os grupos de escolas e bairros que integram a setorização regional.
                         
                     </b>
            </font>


 

  <fieldset>
   <legend><font size=4>Dados da Criança</font></legend>
   <table width="100%">
       <font color ="red"  size="2"> Campos com <b><font size="5"> * </font></b> preenchimento obrigatório </font>
       <tr>
         <td><b><font color="red" size="5">*</font>Nome </b></td>
         <td><%= f.text_field :nome, :size=>"38" %>
             <%= observe_field :crianca_nome,
               :with => :crianca_nome,
               :url => { :action => 'mesmo_nome' } %>
          </td>
         <td><b><font size="5" color ="red"> * </font></b> <b><%= f.label :nascimento, 'Nascimento' %></b></td>
         <td>    <%= f.date_select(:nascimento, :order => [:day, :month, :year], :start_year => (Date.today.year), :end_year => (Date.today.year - 5)) %><BR /></td>
       </tr>
       <tr>
         <td><b><font color="red" size="5">*</font>Mãe</b></td>
         <td><%= f.text_field :mae, :size=>"38"%>
             <%= observe_field :crianca_mae,
               :with => :crianca_mae,
               :url => { :action => "mesma_mae" } %>
         </td>
         <td><b>Pai </b></td>
         <td><%= f.text_field :pai, :size=>"38" %></td>

       </tr>
       <tr>
         <td></td>
         <td><b><div id='nome_aviso' ></div>  <div id='aviso_mae'></div></b></td>
         <td colspan="3"><b><div id='nome_mae'></div></b></td>

       </tr>
       <tr>
           <td colspan="2"> <b>Responsável Legal pela criança?</b>
                <a  class="filtro_vagasS2"><%= f.radio_button :responsavel, true, :checked => true %></a>
                <%= f.label :responsavel, "SIM", :value => "SIM" %>
                <a  class="filtro_vagasN2"><%= f.radio_button :responsavel, false%></a>
                <%= f.label :responsavel, "NÃO", :value => "NÃO" %>
            </td>
            <td colspan="3" class="botao2">
                 <b>Nome:</b>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                             <%= f.text_field :responsavel_n, :size => "15"%>&nbsp&nbsp
                  <b>Parentesco</b><%= f.select :parentesco, GRAU, :include_blank => ''%>
            </td>
      </tr>

      <tr>
         <td><b>Endereço (residencial)  </b></td>
         <td><%= f.text_field :endereco %> &nbsp&nbsp<b>Nº</b><%= f.text_field :numero, :size=>"2" %></td>
         <td><b>Bairro</b></td>
         <td><%= f.text_field :bairro, :size=>"38" %></td>
       </tr>
       <tr>
          <td><b>Complemento</b></td>
          <td><%= f.text_field :complemento, :size=>"38" %></td>
          <td><b><font color="red" size="5">*</font>Fone</b></td>
          <td><%= f.text_field :tel1,:size =>"13" %>&nbsp&nbsp
              <b>Celular</b>&nbsp&nbsp<%= f.text_field :celular,:size =>"14"%>
          </td>
       </tr>
       <tr>
          <td><b>Fone(s) Recado</b></td>
         <td><%= f.text_field :tel2, :size =>"36" %></td>
         <td><b>Nome</b></td>
         <td> <%= f.text_field :nomerecado, :size =>"38" %>  </td>
       </tr>
        <tr>
             <td colspan="2"> <b>Necessidade(s) Especial(s)?</b>
                  <a  class="filtro_vagasS3"><%= f.radio_button :n_especial, true, :checked => true %></a>
                  <%= f.label :n_especial, "SIM", :value => "SIM" %>
                  <a  class="filtro_vagasN3"><%= f.radio_button :n_especial, false%></a>
                  <%= f.label :n_especial, "NÃO", :value => "NÃO" %>
              </td>
              <td colspan="3" class="botao3">
                   <b>Necessidade:</b>&nbsp&nbsp&nbsp
                               <%= f.text_field :necessidade, :size =>"36"%>&nbsp&nbsp
              </td>
        </tr>

      </table>
  </fieldset>

 <fieldset>
  <legend><font size=4>Dados da Inscrição</font></legend>
  <table width="100%">
      <tr>
          <td colspan="6"><font size ="2" color="BLUE"><b><u>ATENÇÃO:</u></b> Indique um endereço para fins de classificação. É necessário comprovar e justificar o vínculo com este endereço.</font> </td>

      </tr>
       <tr>
           <td colspan="6"><b>Endereço: </b> <%= f.text_field :end_indicacao,  :size =>"45"%> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<b>Nº </b><%= f.text_field :num_indicacao, :size=>"4" %>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <b>Vínculo:</b> <%= f.select :vinculo, REFERENCIA, :include_blank => ''%>
           

           </td>
       </tr>
       <tr>
           <td colspan="6"><b>Justificativa: </b> <%= f.text_field :justif_indicacao,  :size =>"90"%> </td>
       </tr>
       <tr>
         <td colspan="6"><b>Bairro/Região:</b>&nbsp&nbsp&nbsp&nbsp
         <% @bairros = Bairro.find(:all, :conditions=>['ativo = 1'],   :order => 'nome') %>
         
         <%= f.collection_select :regiao_id, @bairros, :regiao_id, :nome, :include_blank => '---Selecionar---' %>
             <%= observe_field 'crianca_regiao_id',
                   :update => "listagem",
                   :url    => { :action => 'lista_bairros' },
                   :with   => 'crianca_regiao_id' %>
             <font color="red"><b >&nbsp&nbsp<==&nbsp&nbsp <u>ATENÇÃO:</u></b><b id="pisca1" >   Selecionar corretamente a bairro/região.</b>
              </font>
         </td>
       </tr>
       <tr> <td></td>
           <td colspan="6"><div id="listagem"> </div></td>
       </tr>
      <tr>
          <td colspan="6"><br/> <b>Unidade onde foi realizada a Inscrição </b>
              <%=h @crianca.unidade.nome%> &nbsp&nbsp&nbsp -&nbsp&nbsp&nbsp <b>Data Inscrição:</b>
              <%=h @crianca.created_at.strftime("%d/%m/%Y- %H:%M horas")%></td>
            
      </tr>
      <tr>
        <td colspan="6">
          <fieldset> <legend><font size=4>Prioridades</font></legend>
              <table width="100%"  >
               <tr>
                   <td colspan="3"><b>1) Filho(a) de Servidora Pública da <u>Prefeitura Municipal de Americana?</u></b>  &nbsp ==================================> &nbsp
                       <%= f.select :servidor_publico, (OPCAOSN).sort %>
                           <%= observe_field 'crianca_servidor_publico',
                              :update => "servidor",
                              :url    => { :action => 'servidor_action' },
                              :with   => 'crianca_servidor_publico' %>
                    </td>
               </tr>
               <tr>
                   <td colspan="6"><div id="servidor"> </div></td>
               </tr>
              

               <tr>
                 <td colspan="3"><b>2) Mãe apresentou carteira de trabalho devidamente assinada? &nbsp
                          <b><u>OU </u></b> &nbsp documento/certidão que comprove ser  <br/>
                          &nbsp&nbsp funcionária estatutária de órgão público (EXCETO Prefeitura Municipal de Americana)
                     </b>&nbsp  ====================> &nbsp
                     <%= f.select :trabalho, (OPCAOSN).sort %>
                           <%= observe_field 'crianca_trabalho',
                              :update => "trabalho",
                              :url    => { :action => 'trabalho_action' },
                              :with   => 'crianca_trabalho' %>
                  </td>
               </tr>
               <tr>
                   <td colspan="6"><div id="trabalho"> </div></td>
               </tr>
               <tr>
                 <td colspan="3"><b>3) Mãe apresentou declaração do empregador PESSOA JURÍDICA com CNPJ e firma reconhecida em cartório?</b>&nbsp  ====> &nbsp
                     <%= f.select :declaracao, (OPCAOSN).sort %>
                           <%= observe_field 'crianca_declaracao',
                              :update => "declaracao",
                              :url    => { :action => 'declaracao_action' },
                              :with   => 'crianca_declaracao' %>
                  </td>
                </tr>
               <tr>
                   <td colspan="6"><div id="declaracao"> </div></td>
               </tr>
               <tr>
                   <td colspan="3"><b>4) Mãe apresentou declaração do empregador PESSOA FÍSICA  com CPF e RG <br/>&nbsp&nbsp&nbsp <u>ou</u> declaração de trabalho AUTÔNOMO ?</b> &nbsp =========================================================> &nbsp
                         <%= f.select :autonomo, (OPCAOSN).sort %>
                           <%= observe_field 'crianca_autonomo',
                              :update => "autonomo",
                              :url    => { :action => 'autonomo_action' },
                              :with   => 'crianca_autonomo' %>
                    </td>
               </tr>
               <tr>
                   <td colspan="6"><div id="autonomo"> </div></td>
               </tr>

            </table>
          </fieldset>
        </td>
      </tr>

      <tr>
          <td colspan="2">&nbsp&nbsp&nbsp<b>Local do recadastramento:</b>
              <%= current_user.unidade.nome%>

         </td>
      </tr>
     <tr>
         <td width="2%" valign="top"><font color ="blue"><b><u><%= link_to image_tag("/stylesheets/images/observa.png", :size => "100x26"), "#inline_form_observacao", :class =>"inline" %></u></b></font></td>
          <td colspan="3"><%=h @crianca.obs%><br/>
            <div id="dados"> <%= render :partial => 'observacoes'  %></div></td>
        </tr>

     </table>

  </fieldset>
   <fieldset>
  <legend><font size=4>IMPORTANTE</font></legend>
    <table width="100%">
      <tr>
        <td colspan="2" ><font size ="3" color="RED"><b> &nbsp&nbsp&nbsp&nbsp
                    <b><u>ATENÇÃO:</u> <br/>&nbsp&nbsp&nbsp&nbsp
                        1)TODAS AS INFORMAÇÕES INVERÍDICAS E NÃO COMPROVADOS IMPLICARÃO NO <u>CANCELAMENTO</u> <br/>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        DA INSCRIÇÃO.</b>

        </td>
      </tr>
      <tr>
        <td colspan="2" ><font size ="3" color="blue"><b> &nbsp&nbsp&nbsp&nbsp
                    2) Assim que houver disponibilidade de vaga na região indicada, a Secretaria de Educação entrará   <br/>
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp em contato com  o responsável pela criança.
        </td>
      </tr>
      <tr>
        <td colspan="2" ><font size ="3" color="blue"><b> &nbsp&nbsp&nbsp&nbsp
                   3) É de responsabilidade dos pais e/ou responsável legal manter os dados atualizados no cadastro<br/>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                   junto à unidade escolar onde realizou a inscrição. Assim, deverá ser informada qualquer alteração<br/>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                   nos dados solicitados na inscrição, inclusive os telefones, pois será somente por meio de ligações<br/>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                   telefônicas que ocorrerá o contato no caso de surgimento de vaga. Deverá ser informada, também, ainda<br/>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                   qualquer alteração relativa ao trabalho da mãe, pois essa informação é critério de classificação na lista <br/>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                   de espera. Caso haja alteração no endereço indicado na inscrição a criança será reclassificada de a cordo<br/>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                   com a demanda na nova região
        </td>
      </tr>

     <tr>
         <td width="2%" valign="top"><b class="botao1" style="display:none">&nbsp&nbsp&nbsp&nbsp<font color ="blue"><b><u><%= link_to image_tag("/stylesheets/images/Vagas.png", :size => "100x26"), "#inline_form_vaga", :class =>"inline" %></u></b></font></td>
         <td><div id="dados_vaga"> <%= render :partial => 'vagas'  %></div></td>
        </tr>
     </table>

  </fieldset>

 <br/>
   <script>
       $(document).ready(function()
         {
            $("#dropdownbutton5").click(function ()
               {
                  $("#menu5").slideToggle("high");
               });
         });
   </script>

 <br/>



      <fieldset>
       <table width="100%" >
         <tr>
           <td width="4%"align="left"><b><div id='Certeza'><%= f.submit 'Salvar' %></div></b></td>

<%end%>
            <td width="6%"align="left" ><%= button_to 'Consultar' ,consultas_criancas_path, :title => "Consultar" %></td>
             <td><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>

    <%session[:show]=0%>
    <%session[:show_recadastramento]=1%>

         </tr>
       </table>
      </fieldset>
    </fieldset>
  </font>

</div>
<br/>
</div>
    <%= render "form_observacao" %>
    <%= render "form_vaga" %>