<div id="interno2">
<% title "CRIANÇA" %>
<div class ="tabs">
<font size="5"><strong>Inscrição nº<%=h "#{@crianca.id}" %> </strong></font></br>
 <hr>
 <table bgcolor="#DCDCDC" width="100%">
   <tr bgcolor="#DCDCDC"  width="100%">
     <td>
       <fieldset><legend><font  size=3><b> Dados da Criança</b></font></legend>
         <table width="100%">
            <tr bgcolor="#F5F5F5">
               <td align="left" width="4%"><b>Nome:</b></td>
               <td colspan="3" align="left"><%=h @crianca.nome %></td>
               <td align="left"><b>Nascimento:</b></td>
               <td align="left">  <%=h @crianca.nascimento.strftime("%d/%m/%Y")%></td>
            </tr>
            <tr bgcolor="#F5F5F5">
               <td align="left" width="4%"><b>Mãe:</b></td>
               <td colspan="3" align="left"><%=h @crianca.mae %></td>
               <td align="left" width="4%"><b>Pai:</b></td>
               <td align="left"><%=h @crianca.pai %></td>
            </tr>
            <tr bgcolor="#F5F5F5">
               <td align="left" width="4%"><b>Responsável:</b></td>
               <td colspan="3" align="left"><%=h @crianca.responsavel_n %></td>
               <td align="left" width="4%"><b>Parentesco:</b></td>
               <td align="left"><%=h @crianca.parentesco %></td>
            </tr>
            <tr bgcolor="#F5F5F5">
               <td align="left" width="4%"><b>Endereço:</b></td>
               <td colspan="3" align="left"><%=h @crianca.endereco %> - <%=h @crianca.numero %></td>
               <td align="left" width="4%"><b>Bairro:</b></td>
               <td  align="left"><%=h @crianca.bairro %></td>
            </tr>
            <tr bgcolor="#F5F5F5">
               <td align="left" width="4%"><b>Complemento:</b></td>
               <td  align="left"><%=h @crianca.complemento %></td>
              <td align="left" width="4%"><b>Telefone:</b></td>
               <td align="left">  <%=h @crianca.tel1%></td>
               <td> <b>Celular:</b></td>
               <td><%=h @crianca.celular%>  </td>
            </tr>
            <tr bgcolor="#F5F5F5">
               <td align="left"><b>Fone (recado):</b></td>
               <td align="left" colspan="3">  <%=h @crianca.tel2%></td>
               <td><b>Nome:</b> </td>
               <td><%=h @crianca.nomerecado%>  </td>
            </tr>
            <tr bgcolor="#F5F5F5">
              <td valign="top"><b>Observações</b></td>
              <td colspan="5"> <%=h @crianca.obs%> <br/><%= render :partial => 'observacoes'  %></td>
            </tr>

          </table>
         </fieldset>
       <fieldset><legend><font  size=3><b> Dados da inscrição</b></font></legend>
         <table width="100%">
           <tr bgcolor="#F5F5F5"  width="100%">
             <td align="left" width="20%"><b>Local Inscrição:</b></td>
             <td align="left" colspan="3" ><%=h @crianca.unidade.nome%></td>
             <td width="10%" ><b>Responsável: </b> </td>
                <% if @crianca.responsavel == 0 %>
                    <td  colspan="3">NÃO</td>
                <%else%>
                    <td colspan="3">SIM - <%=h @crianca.responsavel_n%> - (<%=h @crianca.parentesco%>)</td>
                <%end%>
            </tr>
            <tr bgcolor="#F5F5F5">
              <td> <b>Filho Servidora Pública:</b></td>
                 <% if @crianca.servidor_publico == 0 %>
                    <td  colspan="3" align="left">NÃO</td>
                  <%else%>
                     <td  colspan="3" align="left">SIM - <%=h @crianca.servidor_local%></td>
                  <%end%>
                     <td><b>Mãe trabalha: </b></td>
                  <% if @crianca.trabalho == 0 %>
                     <td colspan="3" >NÃO</td>
                  <%else%>
                     <td colspan="3">SIM - <%=h @crianca.local_trabalho%> (<%=h @crianca.fone_trabalho%>)</td>
                  <%end%>
            </tr>
            <tr bgcolor="#F5F5F5">
              <td><b>Irmão(s) matriculado(s): </b></td>
                  <% if @crianca.irmao == 0 %>
                      <td colspan="3" align="left">NÃO</td>
                  <%else%>
                      <td colspan="3" align="left">SIM - <%=h @crianca.unidade_i%></td>
                  <%end%>
                      <td><b>Transferência: </b> </td>
                   <% if @crianca.transferencia == 0 %>
                      <td colspan="3" align="left">NÃO</td>
                   <%else%>
                       <td colspan="3" align="left">SIM - <%=h @crianca.unidade_t%></td>
                   <%end%>
            </tr>
            <tr bgcolor="#F5F5F5"  width="100%">
              <td valign="top" align="left" width="10%"><b>Região:  <br/><br/> Classificação:</b></td>
              <td valign="top"align="left" colspan="3" ><%=h @crianca.regiao.nome%><br/><br/><%=h @crianca.grupo.nome%>
                        
              </td>
              <td valign="top"><b>Período:</b></td><td valign="top"> <%= @crianca.periodo %></td>
              <td valign="top"><b>Opções: </b></td>
              <td valign="top">- <%=h @crianca.opcao1%> <br/>
                               - <%=h @crianca.opcao2%> <br/>
                               - <%=h @crianca.opcao3%> <br/></td>

            </tr>
           <tr bgcolor="#F5F5F5"  width="100%">
             <td align="left" width="18%"><b>Dia/Hora Inscrição:</b></td>
             <td  align="left" colspan="3" ><%=h @crianca.created_at.strftime("%e/%m/%Y - %H:%M horas")%></td>
             <td><b>Status:</b></td> <td  colspan="3"><%=h @crianca.status%> - <%=h @crianca.matriculado%></td>
           </tr>
         </table>
       </fieldset>
       <fieldset><legend><font  size=3><b> Dados da inscrição</b></font></legend>
         <table width="100%">
            <tr bgcolor="#F5F5F5">
              <td colspan="2" ><font size ="3" color="blue"><b> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    Já foi oferecido alguma vagas à criança? &nbsp&nbsp&nbsp&nbsp
                     <% if @crianca.vaga == 1 %>
                         SIM</b>  </font>
                     <%else%>
                          NÃO</b>  </font>

                      <%end%>
              </td>
             </tr>
              <tr bgcolor="#F5F5F5">
               <td width="2%" valign="top"><b> Vagas Oferedidas: </b></font></td>
               <td> <%= render :partial => 'vagas'  %></td>
              </tr>
        </table>
       </fieldset>
     </td>
  </tr>
 </table>
 <% session[:child] = @crianca.id %>

 <table>
         <tr>
            <td width="4%"align="left"><%= button_to 'Consultar' ,consulta_unidade_path, :title => "Consultar" %></td>
            <%if @crianca.unidade_id == current_user.unidade_id or  current_user.unidade_id == 52%>
                <td width="6%"align="left" ><%= button_to 'Editar', {:action => "edit", :id =>@crianca}, :method => "get", :title => "Editar"%></td>
             <%end%>
             <td width="4%"><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>
             <td><b><%= button_to 'Imprimir', onclick="javascript:MM_openBrWindow('#{impressao_criancas_path(:crianca => session[:child])}','impressao', 'scrollbars=yes');", :title => "Imprimir" %> </b></td>

          </tr>
    </table>
 
           
</div>
<br/>
</div>



