<div id="interno2">
<% title "CRIANÇAS", :id =>"criancas" %>
 <div class="tabs">
   <div id="caixa_titulo">
    <font size="3"><strong>RELATÓRIO GERAL DE DEMANDA ESCOLAR</strong></font><br/>
   </div>
  <div class="tabs">
 <fieldset>
   <legend><font size=2><b>DEMANDA POR REGIÃO</b></font></legend>
   <table bgcolor="#DCDCDC" width="99%"align="center">
         <tr bgcolor="#DCDCDC" >
            <td width="33%">
              <table bgcolor="#DCDCDC" width="100%"align="center" >
                    <tr bgcolor="#F5F5F5" >
                        <th width="15%">Região</th>
                        <th width="5%">Total</th>
                    </tr>
               </table>
            </td>
            <td  width="33%">
              <table bgcolor="#DCDCDC" width="100%"align="center">
                    <tr bgcolor="#F5F5F5" >
                        <th width="1%" bgcolor="#DCDCDC" ></th>
                        <th width="15%">Região</th>
                        <th width="6%">Total</th>
                    </tr>
               </table>
            </td>
            <td   width="33%">
              <table bgcolor="#DCDCDC" width="100%"align="center">
                    <tr bgcolor="#F5F5F5" >
                        <th width="1%" bgcolor="#DCDCDC" ></th>
                        <th width="15%">Região</th>
                         <th width="6%">Total</th>
                    </tr>
                 </table>
            </td>
         </tr>
         <tr>
            <% totalregiao0 = 0%>
             <% totalregiao1 = 0 %>
             <% totalregiao = 0%>

             <td valign="top">
                 <table bgcolor="#DCDCDC" width="100%"align="center" >
                    <% for reg1 in @regiaos1 %>
                       <tr bgcolor="#F5F5F5" >
                         <td  width="70%"><font size="2"><b><%= reg1.nome %></b></td>
                         <td  width="30%" align="center"><%= regiao = Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' and regiao_id = ? and vaga_id is null AND recadastrada = 1",reg1]).count %></td>
                                                          <% totalregiao = totalregiao + regiao%>
                       </tr>
                     <%end%>

                 </table>
             </td>
             <td valign="top">
                 <table bgcolor="#DCDCDC" width="100%"align="center">
                     <% for reg2 in @regiaos2 %>
                       <tr bgcolor="#F5F5F5" >
                         <td width="1%" bgcolor="#DCDCDC" ></td>
                         <td  width="69%"><font size="2"><b><%= reg2.nome %></b></td>
                         <td  width="30%" align="center"><%= regiao = Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' and regiao_id = ? and vaga_id is null AND recadastrada = 1 ",reg2]).count %></td>
                                                          <% totalregiao = totalregiao + regiao%>
                       </tr>
                     <%end%>

                 </table>
             </td>
             <td valign="top">
                 <table bgcolor="#DCDCDC" width="100%"align="center">
                     <% for reg3 in @regiaos3 %>
                       <tr bgcolor="#F5F5F5" >
                         <td width="1%" bgcolor="#DCDCDC" ></td>
                         <td  width="69%"><b><font size="2"><%= reg3.nome %></b></td>
                         <td  width="30%" align="center"><%= regiao = Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' and regiao_id = ? and vaga_id is null AND recadastrada = 1",reg3]).count %></td>
                                                          <% totalregiao = totalregiao + regiao%>
                       </tr>
                     <%end%>
                       <tr><td></td></tr>
                      <tr bgcolor="#DCDCDC">
                          <td colspan="3" align="left">
                              <table bgcolor="#DCDCDC" width="100%">
                                  <tr>
                                    <td align="right" width="75%"><b>TOTAL GERAL INSCRIÇÕES: &nbsp&nbsp&nbsp</b></td>
                                 <td align="center" width="20%"><font color ="red "size="2"><b><%=totalregiao %></b></font></td>
                                  </tr>
                              </table>
                          </td>
                      </tr>
                 </table>
             </td>

         </tr>
         <tr>
             <td colspan="8"> <br/><hr><br/></td>
         </tr>
         <tr>

              <% if @static_graph.present?%>
                     <td colspan="8" align="center" ><div class="tela"><%= @static_graph%></div></td>
              <%end%>
          </tr>
          <% session[:geral] = 0 %>
   </table>
 </fieldset>
    <table>
          <tr>
                  <td width="6%"align="left" ><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>
                  <td><b><%#= link_to image_tag("/stylesheets/images/imprimir12.png"), onclick="javascript:MM_openBrWindow('#{impressao_geral_path}','impressao', 'scrollbars=yes');", :title => "Imprimir" %> </b></td>


            </tr>
     </table>

 </div>
 </div>
  <br/>
</div>



