<div id="interno2">
<% title "GRAFICOS_por_unidade".singularize %>
<div class="tabs">
 <table bgcolor="#DCDCDC" width="70%" align="center" >
  <tr bgcolor="#DCDCDC" >
      <td colspan="12">
         <div id="caixa_titulo">
             <font size="3"><strong>DEMANDA POR UNIDADE</strong></font><br/>
         </div>

      </td>
    </tr>

        <tr bgcolor="#DCDCDC">
          <th width=12%"><font size ="2"><b>Classe</b><font></th>
          <th width=5%"><font size ="2"><b>Total </b> <font> </th>
          <th width="1%"></th>
          <th width=12%" ><font size ="2"><b>Classe</b><font></th>
          <th width=5%"><font size ="2"><b>Total </b><font>  </th>
          <th width="1%"></th>
          <th width=12%" ><font size ="2"><b>Classe</b><font></th>
          <th width=5%"><font size ="2"><b>Total </b> <font> </th>
          <th width="1%"></th>
          <th width=12%"><font size ="2"><b>Classe</b><font></th>
          <th width=5%"><font size ="2"><b>Total </b></font>  </th>

       </tr>
        <tr bgcolor="#F5F5F5">
          <th>BERÇARIO I</th>
          <th><%= session[:b1] %>  </th>

          <th width="1%" bgcolor="#DCDCDC"></th>
          <th>MATERNAL I - A </th>
          <th> <%= session[:m1a] %>  </th>

          <th width="1%" bgcolor="#DCDCDC"></th>
          <th>MATERNAL II </th>
          <th> <%= session[:m2] %> </th>

          <th width="1%" bgcolor="#DCDCDC"></th>
          <th>NÍVEL I </th>
          <th> <%= session[:n1] %> </th>


       </tr>
        <tr bgcolor="#F5F5F5">
           <th>BERÇARIO II </th>
          <th><%= session[:b2]%>  </th>

          <th width="1%" bgcolor="#DCDCDC"></th>
          <th>MATERNAL I - B </th>
          <th><%= session[:m1b] %> </th>

          <th  bgcolor="#DCDCDC"> </th>
          <th> </th>
          <th> </th>

          <th width="1%" bgcolor="#DCDCDC"></th>
          <th>NÍVEL II </th>
          <th> <%= session[:n2] %> </th>

        </tr>

        <tr><td colspan="12"> <hr/></td></tr>
        


    <tr>
      <th colspan="12">
        <%= form_tag({ :method => 'post', :action => 'search_unidade' }, :id => 'graph-unit-form')%>
          <%= error_messages_for 'contact' %>
           <% if $uni==1 %>

              <table width="100%">
                <tr>
                  <th  align="right"> Unidade:

                    <%= collection_select :contact, :grafico_id, @unidades, :id, :nome%>
                  </th>
                  <td><%= submit_tag 'Filtrar!' %></td>
                </tr>
              </table>

           <%end%>


      </th>
    </tr>
    <tr>
      
      <td colspan="12" align="center">
          <% if @static_graph.present?%>
              <%= @static_graph%>
          <%else%>
              <%= @graph %>
          <%end%>
      </td>
    </tr>


   <% if $menu==1 %>
    <tr>

        <td width="6%"align="left" ><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>
        <td><b><%= link_to image_tag("/stylesheets/images/imprimir12.png"), onclick="javascript:MM_openBrWindow('#{impressao_geral_path}','impressao', 'scrollbars=yes');", :title => "Imprimir" %> </b></td>


  </tr>
  <%end%>
</table>
<br/><br/>

<% session[:geral] = 1 %>

</div>
<br/>
</div>
<br/><br/>
