<div id="interno2">
<% title "CRIANÇAS", :id =>"criancas" %>
 <div class="tabs">
   <div id="caixa_titulo">
    <font size="3"><strong><legend><font size=2><b>DEMANDA GERAL POR CLASSE</b></font></legend></strong></font><br/>
   </div>
  <div class="tabs">
<% b1=0%>
<% b2=0%>
<% tgb=0%>
<% tgb1=0%>
<% tgb2=0%>
<% tgm1a=0%>
<% tgm1b=0%>
<% tgm2=0%>
<% m1a=0%>
<% m1b=0%>
<% m1b1=0%>
<% m1b0=0%>
<% m2=0%>
<% n1=0%>
<% n2=0%>
<% tgn1=0%>
<% tgn2=0%>
       <% @regiaos11.each do |regiao| %>
                    <% b1=0%>
                    <% b2=0%>
                    <% Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 1 and regiao_id = ?", regiao.id]).count %>
                    <%b1 = b1 + Crianca.find(:all, :conditions => ["status = 'NA_DEMANDA' and grupo_id= 1 and regiao_id = ?", regiao.id]).count%> 
                    <% Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 2 and regiao_id = ?", regiao.id]).count %>
                    <%b2 =  b2 + Crianca.find(:all, :conditions => ["status = 'NA_DEMANDA' and grupo_id= 2 and regiao_id = ?", regiao.id]).count%> 
                            <% tgb1=tgb1 +(b1)%>
                            <% tgb2=tgb2 +(b2)%>

                    <% m1a=0%>
                    <% m1b=0%>
                    <% m2=0%>
                    <% Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 4 and regiao_id = ?", regiao.id]).count %>
                    <%m1a = m1a + Crianca.find(:all, :conditions => ["status = 'NA_DEMANDA' and (grupo_id= 4 or grupo_id = 3) and regiao_id = ?", regiao.id]).count%>
                    <%Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 8 and regiao_id = ?", regiao.id]).count %>
                    <%m1b = m1b + Crianca.find(:all, :conditions => ["status = 'NA_DEMANDA' and grupo_id= 8 and regiao_id = ?", regiao.id]).count%>
                    <% Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 5 and regiao_id = ?", regiao.id]).count %>
                    <%m2 = m2 + Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 5 and regiao_id = ?", regiao.id]).count%>
                            <% tgm1a =tgm1a +m1a%>
                            <% tgm1b= tgm1b +m1b%>
                            <% tgm2= tgm2 + m2%>

                   <% n1=0%>
                   <% n2=0%>
                   <%Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 6 and regiao_id = ?", regiao.id]).count %>
                   <%n1 = n1 + Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 6 and regiao_id = ?", regiao.id]).count%>
                   <%Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 7 and regiao_id = ?", regiao.id]).count %>
                   <%n2 = n2 + Crianca.find(:all,:select=> 'id', :conditions => ["status = 'NA_DEMANDA' and grupo_id= 7 and regiao_id = ?", regiao.id]).count%>
                            <% tgn1 =tgn1 + n1%>
                            <% tgn2= tgn2 + n2%>


                <%end%>

 <fieldset>
   <legend><font size=2><b>DEMANDA GERAL POR CLASSE</b></font></legend>
   <table bgcolor="#DCDCDC" width="100%"align="center" >
        <tr bgcolor="#DCDCDC">
          <th><font size ="2"><b>Classe</b><font></th>

          <th><font size ="2"><b>Total </b> <font> </th>
          <th width="1%"></th>
          <th><font size ="2"><b>Classe</b><font></th>

          <th><font size ="2"><b>Total </b><font>  </th>
          <th width="1%"></th>
           <th><font size ="2"><b>Classe</b><font></th>

          <th><font size ="2"><b>Total </b> <font> </th>
          <th width="1%"></th>
          <th><font size ="2"><b>Classe</b><font></th>

          <th><font size ="2"><b>Total </b></font>  </th>

       </tr>
        <tr bgcolor="#F5F5F5">
          <th>- BERÇARIO I</th>
          <th><%= tgb1 %>  </th>

          <th width="1%" bgcolor="#DCDCDC"></th>
          <th>- MATERNAL I - A </th>
          <th> <%= tgm1a %>  </th>

          <th width="1%" bgcolor="#DCDCDC"></th>
          <th>- MATERNAL II </th>
          <th> <%= tgm2 %> </th>

          <th width="1%" bgcolor="#DCDCDC"></th>
          <th>- NÍVEL I </th>
          <th> <%= tgn1 %> </th>


       </tr>
        <tr bgcolor="#F5F5F5">
           <th>- BERÇARIO II </th>
          <th><%= tgb2%>  </th>

          <th width="1%" bgcolor="#DCDCDC"></th>
          <th>- MATERNAL I - B </th>
          <th><%= tgm1b %> </th>

          <th  bgcolor="#DCDCDC"> </th>
          <th> </th>
          <th> </th>

          <th width="1%" bgcolor="#DCDCDC"></th>
          <th>- NÍVEL II </th>
          <th> <%= tgn2 %> </th>

        </tr>

        <tr><td colspan="12"> <hr/></td></tr>
         <tr>

              <% if @static_graph.present?%>
                     <td colspan="12" align="center" ><div class="tela"><%= @static_graph%></div></td>
              <%end%>
          </tr>
          <% session[:geral] = 0 %>
   </table>
 </fieldset>
    <table>
          <tr>
                  <td width="6%"align="left" ><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>
                  <td><b><%#= link_to image_tag("/stylesheets/images/imprimir12.png"), onclick="javascript:MM_openBrWindow('#{impressao_geral_path}','impressao', 'scrollbars=yes');", :title => "Imprimir" %> </b></td>


            </tr>
     </table>

 </div>
 </div>
  <br/>
</div>



