<div class="tabs">
    <table bgcolor="#DCDCDC" width="100%">
        <%quant=0%>
        <% @vagas.each do |vaga| %>
            <tr  bgcolor="#F5F5F5">
                <td width ="5%"><b>Unidade: </b></td>
                <td><%=h vaga.unidade.nome %></td>
                <td width ="5%"><b>Região: </b></td>
                <td><%=h vaga.unidade.regiao.nome %></td>
            </tr>
            <tr bgcolor="#F5F5F5">
             <td><strong>Grupo:</strong></td>
             <td colspan="3"><%=h vaga.grupo.nome%> </td>
            </tr>
             <tr bgcolor="#F5F5F5">
             <td><strong>Descrição:</strong></td>
             <td colspan="3"><%=h session[:descricao] %></td>
            </tr>
             <tr bgcolor="#F5F5F5">
             <td><strong>Obs.:</strong></td>
             <td colspan="3"><%=h vaga.obs%></td>
            </tr>
            <tr>
                 <% if (current_user.has_role?('admin')or  current_user.has_role?('SEDUC'))%>
                      <td colspan="4"align="right" ><%= button_to 'Editar',{:action => "edit", :id =>vaga}, :method => "get", :title => "Editar"%></td>
                  <%else%>
                      <td align="center" >  </td>
                  <%end%>
           </tr>
           <%quant=quant+1%>
         <% end %>
     </table>
    <table width="100%" >
        <tr>
            <td colspan="4">  <div id="caixa_titulo">
                                <font size="3"><strong>RESUMO VAGA</strong></font><br/>
                              </div></td>
        </tr>
  
                    <tr  bgcolor="#F5F5F">
                        <td width=" 35%"> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<b> Unidade </b></td>
                        <td width=" 35%"> <b>&nbsp&nbsp&nbsp Região </b></td>
                        <td width=" 1%" align="center"><center><b>Vagas</b></center></td>
                        <td width=" 29%" align="center"><center><b>Grupos</b></center></td>
                    </tr>
                    <% @vagas_unidade.each do |vagaU| %>
                        <tr bgcolor="#DCDCDC">
                            <td> - <%= truncate(vagaU.unidade.nome,:length => 25,:omission => "..." )%> </td>
                            <td >  <%= truncate(vagaU.unidade.regiao.nome,:length => 25,:omission => "... " )%> </td>
                            <td align="center"><center><%=vagaU.quantidade%></center></td>
                            <td align="center"><center><%=vagaU.grupo.nome%></center></td>
                        </tr>
                    <%end%>
                        <tr><td></td> <td> &nbsp <b> TOTAL DE VAGAS &nbsp&nbsp ===> </b></td>
                            <td align="center"><b> <%=  quant%></b></td>
                            <td> &nbsp&nbsp <b> </b></td>
                        </tr>
                        <tr>
                            <td colspan="5">
                                <hr/>
                            </td>
                        </tr>
                    <tr bgcolor="#F5F5F">
                        <td > &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<b> Região:</b></td>
                        <td> &nbsp&nbsp&nbsp <b> Grupo:</b></td>
                        <td align="center"><center><b>Vagas</b></center></td>
                        <!--<td align="center"><center><b>Unidade</b></center></td>-->
                    </tr>
                    <% @vagas_regiao.each do |vagaR| %>
                        <tr bgcolor="#DCDCDC">
                            <td> - <%= truncate(vagaR.unidade.regiao.nome  ,:length => 12,:omission => "..." )%></td>
                            <td> <%=vagaR.grupo.nome%> </td>
                            <td align="center"><center><%=vagaR.quantidade%></center></td>
                            <!--<td align="center"><center><%#= truncate(vagaR.unidade.nome,:length => 10,:omission => "..." )%> </center></td>-->
                        </tr>
                    <%end%>
                        <tr> <td></td><td> &nbsp <b> TOTAL DE VAGAS &nbsp&nbsp ====> </b></td>
                            <td align="center"><b> <%=  quant%></b></td>
                            <td> &nbsp&nbsp <b> </b></td>
                        </tr>

       </table>

     
  </div>
